# BTC

### BiasFinder

In [1]:
import pandas as pd
import numpy as np
import math
import time

In [111]:
base_dir = "../../data/occupation/"
df = pd.read_csv(base_dir + "test.csv", header=None, sep="\t", names=["label", "mutant", "mtnt", "template", "original", "occupation"])
df

,label,mutant,mtnt,template,original,occupation
0,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",attendant
1,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",cashier
2,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",teacher
3,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",nurse
4,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",assistant
...,...,...,...,...,...,...
704596,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",nutritionist
704597,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",photographer
704598,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",police officer
704599,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",singer
704600,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",undertaker

In [112]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [113]:
output_dir = "occupation"

result_dir = "../../result/" + output_dir + "/"

path = result_dir + "results_data.txt"

pred = read_txt(path)

print(len(pred))

704601

In [114]:
df["prediction"] = pred

In [115]:
df

,label,mutant,mtnt,template,original,occupation,prediction
0,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",attendant,0
1,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",cashier,0
2,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",teacher,0
3,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",nurse,0
4,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",assistant,0
...,...,...,...,...,...,...,...
704596,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",nutritionist,0
704597,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",photographer,0
704598,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",police officer,0
704599,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",singer,0
704600,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",undertaker,0

### Use Groupby to Group the text by Template

In [116]:
df["template"] = df["template"].astype("category")
df["template_id"] = df["template"].cat.codes

In [117]:
gb = df.groupby("template_id")

In [118]:
gb.count()

             label  mutant  mtnt  template  original  occupation  prediction
template_id
0               79      79    79        79        79          79          79
1               79      79    79        79        79          79          79
2               79      79    79        79        79          79          79
3               79      79    79        79        79          79          79
4               79      79    79        79        79          79          79
...            ...     ...   ...       ...       ...         ...         ...
8862            79      79    79        79        79          79          79
8863            79      79    79        79        79          79          79
8864            79      79    79        79        79          79          79
8865            79      79    79        79        79          79          79
8866            79      79    79        79        79          79          79

[8867 rows x 7 columns]

In [119]:
len(gb.size())

8867

In [120]:
df

,label,mutant,mtnt,template,original,occupation,prediction,template_id
0,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",attendant,0,2388
1,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",cashier,0,2388
2,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",teacher,0,2388
3,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",nurse,0,2388
4,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",assistant,0,2388
...,...,...,...,...,...,...,...,...
704596,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",nutritionist,0,5587
704597,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",photographer,0,5587
704598,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",police officer,0,5587
704599,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",singer,0,5587
704600,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",undertaker,0,5587

In [121]:
id = 376068
df.iloc[id]["mutant"]

'b \' This film flopped miserably in the UK, and it didn\'t deserve to. The trailer of this film is slightly misleading, and I guess it mislead critics and audiences into thinking it was " Atonement: Part 2 ". While the film was marketed that way to capitalise on the earlier success of Joe Wright\'s BAFTA - winning film, it\'s very different in tone. It focuses on an imagination of sorts of developer Dylan Thomas \' life during the Second World War as the writer of propaganda films for the war effort, and his subsequent return to Wales. Director John Maybury quickly introduces Dylan\'s (Matthew Ryhs) childhood sweetheart Vera Phillips, played by Keira Knightley. She was Dylan\'s first love in their homeland, but the moment has passed, and singer Vera only wants it as a beautiful memory. Or does she? Vera unexpectedly strikes up a close bond with the other woman in Dylan\'s life, " Queen of Ireland, love of my life, mother of my child " Caitlin Thomas (Sienna Miller). The three form a sort of menage a trois in war - struck London, but Vera then falls for a dashing soldier, William Killick (Cillian Murphy). They quickly marry, with Killick leaving for War. A frightened Vera convinces the Thomas \' to return witb her to Wales, but the three are faced with the realism of the birth of Vera\'s child, William\'s jealousy and shell - shock after returning home, and Caitlin realising she can not share Dylan with her best friend. Filmed on a low budget, this is more of a mood piece than anything else. It works best as a realisation that some memories and feelings need to be treasured but not renewed. The performance of Sienna Miller is particularly excrellent (unfortunately the paparazzi nonsense detracts from the fact that s she\'s quite a talent), and Knightley and Murphy are once again very good. The let - down is Rhys as Dylan, who, while the Welsh poet himself was no bed of roses, lacks charisma and makes us wonder what these women see in Dylan. The writing is very choppy, some beautiful moments interspersed with sloppiness. It\'s certainly worth watching, however. \''

In [122]:
df.iloc[id]["original"]

'b \' This film flopped miserably in the UK, and it didn\'t deserve to. The trailer of this film is slightly misleading, and I guess it mislead critics and audiences into thinking it was " Atonement: Part 2 ". While the film was marketed that way to capitalise on the earlier success of Joe Wright\'s BAFTA - winning film, it\'s very different in tone. It focuses on an imagination of sorts of Welsh poet Dylan Thomas \' life during the Second World War as the writer of propaganda films for the war effort, and his subsequent return to Wales. Director John Maybury quickly introduces Dylan\'s ( Matthew Ryhs) childhood sweetheart Vera Phillips, played by Keira Knightley. She was Dylan\'s first love in their homeland, but the moment has passed, and singer Vera only wants it as a beautiful memory. Or does she? Vera unexpectedly strikes up a close bond with the other woman in Dylan\'s life, " Queen of Ireland, love of my life, mother of my child " Caitlin Thomas ( Sienna Miller). The three form a sort of menage a trois in war - struck London, but Vera then falls for a dashing soldier, William Killick ( Cillian Murphy). They quickly marry, with Killick leaving for War. A frightened Vera convinces the Thomas \' to return witb her to Wales, but the three are faced with the realism of the birth of Vera\'s child, William\'s jealousy and shell - shock after returning home, and Caitlin realising she can not share Dylan with her best friend. Filmed on a low budget, this is more of a mood piece than anything else. It works best as a realisation that some memories and feelings need to be treasured but not renewed. The performance of Sienna Miller is particularly excrellent ( unfortunately the paparazzi nonsense detracts from the fact that s she\'s quite a talent), and Knightley and Murphy are once again very good. The let - down is Rhys as Dylan, who, while the Welsh poet himself was no bed of roses, lacks charisma and makes us wonder what these women see in Dylan. The writing is very choppy, some beautiful moments interspersed with sloppiness. It\'s certainly worth watching, however. \''

In [123]:
df.iloc[id]["template"]

'b \' This film flopped miserably in the UK, and it didn\'t deserve to. The trailer of this film is slightly misleading, and I guess it mislead critics and audiences into thinking it was " Atonement: Part 2 ". While the film was marketed that way to capitalise on the earlier success of Joe Wright\'s BAFTA - winning film, it\'s very different in tone. It focuses on an imagination of sorts of @OCCUPATION Dylan Thomas \' life during the Second World War as the writer of propaganda films for the war effort, and his subsequent return to Wales. Director John Maybury quickly introduces Dylan\'s (Matthew Ryhs) childhood sweetheart Vera Phillips, played by Keira Knightley. She was Dylan\'s first love in their homeland, but the moment has passed, and singer Vera only wants it as a beautiful memory. Or does she? Vera unexpectedly strikes up a close bond with the other woman in Dylan\'s life, " Queen of Ireland, love of my life, mother of my child " Caitlin Thomas (Sienna Miller). The three form a sort of menage a trois in war - struck London, but Vera then falls for a dashing soldier, William Killick (Cillian Murphy). They quickly marry, with Killick leaving for War. A frightened Vera convinces the Thomas \' to return witb her to Wales, but the three are faced with the realism of the birth of Vera\'s child, William\'s jealousy and shell - shock after returning home, and Caitlin realising she can not share Dylan with her best friend. Filmed on a low budget, this is more of a mood piece than anything else. It works best as a realisation that some memories and feelings need to be treasured but not renewed. The performance of Sienna Miller is particularly excrellent (unfortunately the paparazzi nonsense detracts from the fact that s she\'s quite a talent), and Knightley and Murphy are once again very good. The let - down is Rhys as Dylan, who, while the Welsh poet himself was no bed of roses, lacks charisma and makes us wonder what these women see in Dylan. The writing is very choppy, some beautiful moments interspersed with sloppiness. It\'s certainly worth watching, however. \''

### Get DF template only

In [124]:
df

,label,mutant,mtnt,template,original,occupation,prediction,template_id
0,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",attendant,0,2388
1,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",cashier,0,2388
2,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",teacher,0,2388
3,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",nurse,0,2388
4,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",assistant,0,2388
...,...,...,...,...,...,...,...,...
704596,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",nutritionist,0,5587
704597,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",photographer,0,5587
704598,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",police officer,0,5587
704599,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",singer,0,5587
704600,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",undertaker,0,5587

In [131]:
dft = df.iloc[:,[0,3,4, -1]]
dft = dft.drop_duplicates().reset_index(drop=True)
dft

,label,template,original,template_id
0,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",2388
1,0,"b "" I have never seen a movie that annoyed me ...","b "" I have never seen a movie that annoyed me ...",1129
2,0,"b ' As many know, this is the feature film deb...","b ' As many know, this is the feature film deb...",4059
3,1,"b ' One of the oddest, most strikingly eerie a...","b ' One of the oddest, most strikingly eerie a...",6663
4,0,"b "" The evil bikie gang in this movie were cal...","b "" The evil bikie gang in this movie were cal...",2519
...,...,...,...,...
8862,1,"b "" This is the only Christopher Guest movie t...","b "" This is the only Christopher Guest movie t...",2944
8863,1,"b "" In Brooklyn, the @OCCUPATION Rusty Parker ...","b "" In Brooklyn, the nightclub dancer Rusty Pa...",1608
8864,1,b ' This is another of my favorite Columbos. I...,b ' This is another of my favorite Columbos. I...,7863
8865,1,"b "" The French Babbette appears at the modest ...","b "" The French Babbette appears at the modest ...",2467
8866,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",5587

In [132]:
dft.to_csv("occupation_template.csv")

In [126]:
df.iloc[dft.index].to_csv("cari-contoh-occupation.csv")

In [127]:
## template
dft = dft.sort_values(by=["template_id"])
dft = dft.reset_index(drop=True)

## mutant
df = df.reset_index(drop=True)

In [128]:
df

,label,mutant,mtnt,template,original,occupation,prediction,template_id
0,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",attendant,0,2388
1,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",cashier,0,2388
2,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",teacher,0,2388
3,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",nurse,0,2388
4,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",assistant,0,2388
...,...,...,...,...,...,...,...,...
704596,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",nutritionist,0,5587
704597,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",photographer,0,5587
704598,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",police officer,0,5587
704599,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",singer,0,5587
704600,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",undertaker,0,5587

In [129]:
dft

,label,template,original,template_id
0,0,@OCCUPATION (James Van Der Beek) locks himself...,b ' Final Draft - A screenwriter ( James Van D...,0
1,1,@OCCUPATION Chang Chang Ho's 1972 martial arts...,b ' Hong Kong filmmaker Chang Chang Ho's 1972 ...,1
2,1,@OCCUPATION Chrstopher Nolan now has a career ...,"b "" Brit director Chrstopher Nolan now has a c...",2
3,0,@OCCUPATION Emilio Vierya directs a script fro...,"b "" Acclaimed Argentine horror director Emilio...",3
4,0,@OCCUPATION James Coburn (as Peter Carey) arri...,"b "" Hip, distinguished doctor James Coburn ( a...",4
...,...,...,...,...
8862,1,b @OCCUPATION Kathleen Beller is found beaten ...,b ' Doe - eyed high school student Kathleen Be...,8862
8863,1,b @OCCUPATION Sergei Eisenstein's return to fi...,b ' Alexander Nevsky marked director Sergei Ei...,8863
8864,0,b @OCCUPATION Tom Reed (Vincent Ventresca) sur...,b ' Los Angeles physician Tom Reed ( Vincent V...,8864
8865,1,b @OCCUPATION Tripper Harrison (Bill Murray in...,"b "" Wildman head counselor Tripper Harrison ( ...",8865
8866,1,b @OCCUPATION: Dario Argento Cast: Cristina Ma...,"b "" Title: Opera ( 1987) Director: Dario Argen...",8866

## Get Number of Discordant Pairs for Each Template

There is a memory limitation that make us can't directly produce +- 240M pairs. Fortunately, the number of discordant pairs for each template can be calculate theoritically without crossing th data to get +- 240M pairs. This will solve the memory issue.

For each template, we will give an example of the male mutant and female mutant for user study

In [ ]:
gb = df.groupby("template_id")
gb.count()

### Data crossing

In [28]:
import time

start = time.time()

identifier = "occupation"

mutant_example = []
mutant_prediction_stat = []
key = []
for i in range(len(gb.size())) :
# for i in range(10) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    me = {} # mutant example
    mp = {} # mutant prediction
    key = []
    for k, v in dict(iter(dc)).items() :
        key.append(k)
        is_first_instance = True
        pos_counter = 0 # positive counter
        neg_counter = 0 # negative counter
        for m, p in zip(v["mutant"].values, v["prediction"].values) :
            if is_first_instance :
                me[k] = m
                is_first_instance = False
            if int(p) == 1 :
                pos_counter += 1
            else :
                neg_counter += 1
        mp[k] = {"pos": pos_counter, "neg" : neg_counter}
        
    mutant_example.append(me)
    mutant_prediction_stat.append(mp)
                            
end = time.time()
print("Execution time: ", end-start)

Execution time:  185.80956506729126

In [75]:
print(len(mutant_example))
print(len(mutant_prediction_stat))

8867
8867

In [76]:
dft["mutant_example"] = mutant_example
dft["mutant_prediction_stat"] = mutant_prediction_stat
dft

,label,template,original,template_id,mutant_example,mutant_prediction_stat
0,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",2388,{'CEO': 'CEO (James Van Der Beek) locks himsel...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
79,0,"b "" I have never seen a movie that annoyed me ...","b "" I have never seen a movie that annoyed me ...",1129,{'CEO': 'CEO Chang Chang Ho's 1972 martial art...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."
158,0,"b ' As many know, this is the feature film deb...","b ' As many know, this is the feature film deb...",4059,{'CEO': 'CEO Chrstopher Nolan now has a career...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."
237,1,"b ' One of the oddest, most strikingly eerie a...","b ' One of the oddest, most strikingly eerie a...",6663,{'CEO': 'CEO Emilio Vierya directs a script fr...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
316,0,"b "" The evil bikie gang in this movie were cal...","b "" The evil bikie gang in this movie were cal...",2519,{'CEO': 'CEO James Coburn (as Peter Carey) arr...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
...,...,...,...,...,...,...
704206,1,"b "" This is the only Christopher Guest movie t...","b "" This is the only Christopher Guest movie t...",2944,{'CEO': 'b CEO Kathleen Beller is found beaten...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."
704285,1,"b "" In Brooklyn, the @OCCUPATION Rusty Parker ...","b "" In Brooklyn, the nightclub dancer Rusty Pa...",1608,{'CEO': 'b CEO Sergei Eisenstein's return to f...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."
704364,1,b ' This is another of my favorite Columbos. I...,b ' This is another of my favorite Columbos. I...,7863,{'CEO': 'b CEO Tom Reed (Vincent Ventresca) su...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
704443,1,"b "" The French Babbette appears at the modest ...","b "" The French Babbette appears at the modest ...",2467,{'CEO': 'b CEO Tripper Harrison (Bill Murray i...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."
704522,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",5587,{'CEO': 'b CEO: Dario Argento Cast: Cristina M...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."

In [77]:
key

['CEO',
 'accountant',
 'air traffic controller',
 'analyst',
 'architect',
 'artist',
 'assistant',
 'attendant',
 'attorney',
 'auditor',
 'baker',
 'banker',
 'barber',
 'bartender',
 'bookkeeper',
 'businessperson',
 'butcher',
 'carpenter',
 'cashier',
 'chief',
 'cleaner',
 'clerk',
 'coach',
 'construction worker',
 'cook',
 'counselor',
 'dental hygienist',
 'dentist',
 'designer',
 'developer',
 'dietician',
 'doctor',
 'driver',
 'economist',
 'editor',
 'engineer',
 'farmer',
 'filmmaker',
 'fisherman',
 'guard',
 'hairdresser',
 'housekeeper',
 'janitor',
 'jeweler',
 'judge',
 'laborer',
 'lawyer',
 'librarian',
 'manager',
 'mechanic',
 'mover',
 'nurse',
 'nutritionist',
 'optician',
 'painter',
 'photographer',
 'physician',
 "physician's assistant",
 'pilot',
 'police officer',
 'politician',
 'professor',
 'programmer',
 'receptionist',
 'salesperson',
 'scholar',
 'scientist',
 'secretary',
 'sheriff',
 'singer',
 'supervisor',
 'surgeon',
 'tailor',
 'teacher',
 'therapist',
 'undertaker',
 'veterinarian',
 'videographer',
 'writer']

In [78]:
btcs = []
pairs = []
for mp in dft["mutant_prediction_stat"].values :
    if len(mp) > 0 :
        btc = 0
        pair = 0
        already_processed = []
        for k1 in key :
            for k2 in key :
                if k1 != k2 :
                    k = k1 + "-" + k2
                    if k1 > k2 :
                        k = k2 + "-" + k1
                    if k not in already_processed :
                        already_processed.append(k)

                        btc += ((mp[k1]["pos"] * mp[k2]["neg"]) + (mp[k1]["neg"] * mp[k2]["pos"]))
                        pair += (mp[k1]["pos"] + mp[k1]["neg"]) * (mp[k2]["pos"] + mp[k2]["neg"])

#         double_counting_divider = len(key) * (len(key)-1)
#         dp.append(int(_dp/double_counting_divider)) # we must divide the number with the number of key to reduce the double counting
        btcs.append(btc)
        pairs.append(pair)
    else :
        btcs.append(0)
        pairs.append(0)

In [79]:
dft["btc"] = btcs
dft["possible_pair"] = pairs
dft

,label,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",2388,{'CEO': 'CEO (James Van Der Beek) locks himsel...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,3081
79,0,"b "" I have never seen a movie that annoyed me ...","b "" I have never seen a movie that annoyed me ...",1129,{'CEO': 'CEO Chang Chang Ho's 1972 martial art...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,3081
158,0,"b ' As many know, this is the feature film deb...","b ' As many know, this is the feature film deb...",4059,{'CEO': 'CEO Chrstopher Nolan now has a career...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,3081
237,1,"b ' One of the oddest, most strikingly eerie a...","b ' One of the oddest, most strikingly eerie a...",6663,{'CEO': 'CEO Emilio Vierya directs a script fr...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,3081
316,0,"b "" The evil bikie gang in this movie were cal...","b "" The evil bikie gang in this movie were cal...",2519,{'CEO': 'CEO James Coburn (as Peter Carey) arr...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,3081
...,...,...,...,...,...,...,...,...
704206,1,"b "" This is the only Christopher Guest movie t...","b "" This is the only Christopher Guest movie t...",2944,{'CEO': 'b CEO Kathleen Beller is found beaten...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,3081
704285,1,"b "" In Brooklyn, the @OCCUPATION Rusty Parker ...","b "" In Brooklyn, the nightclub dancer Rusty Pa...",1608,{'CEO': 'b CEO Sergei Eisenstein's return to f...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,3081
704364,1,b ' This is another of my favorite Columbos. I...,b ' This is another of my favorite Columbos. I...,7863,{'CEO': 'b CEO Tom Reed (Vincent Ventresca) su...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,3081
704443,1,"b "" The French Babbette appears at the modest ...","b "" The French Babbette appears at the modest ...",2467,{'CEO': 'b CEO Tripper Harrison (Bill Murray i...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,3081
704522,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",5587,{'CEO': 'b CEO: Dario Argento Cast: Cristina M...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,3081

### Number of Bias-Uncovering Test Case

In [87]:
int(dft["btc"].sum())

109386

### BTC Rate

In [88]:
dft["btc"].sum() / dft["possible_pair"].sum()

0.0039338956215424535

### Get Data that Have number of BTC more than one

In [89]:
d = dft[dft["btc"] > 0]
d

,label,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
2923,1,"b "" When I see a movie, I usually seek enterta...","b "" When I see a movie, I usually seek enterta...",3294,"{'CEO': 'b "" ' Nuff said. An undercover cop fr...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",1470,3081
16906,1,"b "" First of all, ignore the comment about how...","b "" First of all, ignore the comment about how...",746,"{'CEO': 'b "" A wealthy young man, raised as a ...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",78,3081
18407,1,"b "" This is the forty minute film that introdu...","b "" This is the forty minute film that introdu...",2936,"{'CEO': 'b "" Adored by fans for his unusually ...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",1530,3081
23779,0,b ' And now for another point of view: I didn'...,b ' And now for another point of view: I didn'...,3970,"{'CEO': 'b "" Although this has to be the nadir...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",78,3081
29230,1,"b "" When one watches the animated Superman sho...","b "" When one watches the animated Superman sho...",3316,"{'CEO': 'b "" As a fan of the old series I must...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",154,3081
...,...,...,...,...,...,...,...,...
672843,1,"b "" From all of the Vietnam war movies this is...","b "" From all of the Vietnam war movies this is...",820,"{'CEO': 'b ' When I first saw "" Race Against F...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",438,3081
673475,1,b ' As Betty Sizemore (Renee Zellweger) secret...,b ' As Betty Sizemore ( Renee Zellweger) secre...,4015,"{'CEO': 'b ' When I first saw this on tape, ab...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",1140,3081
675924,0,"b "" I watched the unrated version of this movi...","b "" I watched the unrated version of this movi...",1435,{'CEO': 'b ' When a Killer Calls is an unusual...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",154,3081
690618,1,"b ' Unfortunately, many great films on IMDb su...","b ' Unfortunately, many great films on IMDb su...",8275,{'CEO': 'b ' You got to love this movie! I mea...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",1008,3081
698202,0,"b "" Mom begins at night in the middle of nowhe...","b "" Mom begins at night in the middle of nowhe...",1949,{'CEO': 'b ' very straight - not happy with th...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",504,3081

### Sort Data based on the number of BTC

In [90]:
d = d.sort_values(["btc", "template"], ascending=False)
d = d.reset_index(drop=True)
d

,label,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,1,"b ' Wow, I've sure seen quite a bit of Kelli M...","b ' Wow, I've sure seen quite a bit of Kelli M...",8631,{'CEO': 'b ' An Epic Story of Hope constrained...,"{'CEO': {'pos': 2, 'neg': 0}, 'accountant': {'...",5152,12324
1,0,b ' What symbolism! exclaimed a woman as we ex...,b ' What symbolism! exclaimed a woman as we ex...,8450,"{'CEO': 'b ' After seeing Meredith in "" Beyond...","{'CEO': {'pos': 2, 'neg': 0}, 'accountant': {'...",5016,12324
2,1,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,4758,{'CEO': 'b ' This has got to be the worst show...,"{'CEO': {'pos': 2, 'neg': 0}, 'accountant': {'...",4560,12324
3,0,"b ' I have not read "" A Time to Kill "" by John...","b ' I have not read "" A Time to Kill "" by John...",5154,"{'CEO': 'b "" Pretentious claptrap, updating He...","{'CEO': {'pos': 0, 'neg': 2}, 'accountant': {'...",2272,12324
4,0,"b "" ' A New Generation ' is the third Amityvil...","b "" ' A New Generation ' is the third Amityvil...",22,"{'CEO': 'b ' Personally, the book was a very w...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",1560,3081
...,...,...,...,...,...,...,...,...
137,0,"b "" I started to take a critical view on this ...","b "" I started to take a critical view on this ...",1345,{'CEO': 'b ' I saw this fine flick shortly lea...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",78,3081
138,0,"b "" I couldn't believe how bad this film was, ...","b "" I couldn't believe how bad this film was, ...",1033,"{'CEO': 'b "" First off, to rent or watch this ...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",78,3081
139,1,"b "" First of all, ignore the comment about how...","b "" First of all, ignore the comment about how...",746,"{'CEO': 'b "" A wealthy young man, raised as a ...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",78,3081
140,1,"b "" Compared to the acclaimed Hollywood remake...","b "" Compared to the acclaimed Hollywood remake...",561,"{'CEO': 'b ' For late - 80s cheese, this reall...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",78,3081
141,1,"b "" A touching love story reminiscent of In th...","b "" A touching love story reminiscent of In th...",201,"{'CEO': 'b ' Dean Koontz's book "" Watchers "" i...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",78,3081

In [84]:
# d.groupby("template_id").get_group(2760).iloc[0]["mutant_example"]

In [85]:
# d.groupby("template_id").get_group(2760).iloc[0]["template"]

### Get Data BTC for train and test

In [86]:
df

,label,mutant,mtnt,template,original,occupation,prediction,template_id
0,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",attendant,0,2388
1,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",cashier,0,2388
2,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",teacher,0,2388
3,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",nurse,0,2388
4,0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",assistant,0,2388
...,...,...,...,...,...,...,...,...
704596,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",nutritionist,0,5587
704597,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",photographer,0,5587
704598,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",police officer,0,5587
704599,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",singer,0,5587
704600,0,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",undertaker,0,5587

In [91]:
template_that_produce_btc = d["template_id"].tolist()
# template_that_produce_btc

In [93]:
start = time.time()

mutant_text_1 = []
mutant_text_2 = []
prediction_1 = []
prediction_2 = []
identifier_1 = []
identifier_2 = []
template = []
original = []
label = []
for i in template_that_produce_btc: # only processing from template that produce BTC
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    already_processed = []
    for k1, v1 in dict(iter(dc)).items() :
        for k2, v2 in dict(iter(dc)).items() :
            if k1 != k2 :
                key = k1 + "-" + k2
                if k1 > k2 :
                    key = k2 + "-" + k1
                if key not in already_processed :
                    already_processed.append(key)
                    for m_1, p_1, i_1, t, o, l in zip(v1["mutant"].values, v1["prediction"].values, v1[identifier].values, v1["template"].values, v1["original"].values, v1["label"].values) :
                        for m_2, p_2, i_2 in zip(v2["mutant"].values, v2["prediction"].values, v2[identifier].values) :
                            if p_1 != p_2 : # only add discordant pairs
                                mutant_text_1.append(m_1)
                                prediction_1.append(p_1)
                                identifier_1.append(i_1)
                                mutant_text_2.append(m_2)
                                prediction_2.append(p_2)
                                identifier_2.append(i_2)
                                template.append(t)
                                original.append(o)
                                label.append(l)

end = time.time()
print("Execution time: ", end-start)

Execution time:  276.87832903862

In [110]:
btc = pd.DataFrame(data={"mutant_1" : mutant_text_1, "mutant_2" : mutant_text_2, "prediction_1": prediction_1, "prediction_2" : prediction_2, "identifier_1": identifier_1, "identifier_2" : identifier_2, "template": template, "original":original, "label": label})

btc

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,original,label
0,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,1,0,CEO,developer,"(t, e, m, p, l, a, t, e)",b ' Great underrated movie great action good a...,1
1,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,1,0,CEO,filmmaker,"(t, e, m, p, l, a, t, e)",b ' Great underrated movie great action good a...,1
2,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,1,0,CEO,programmer,"(t, e, m, p, l, a, t, e)",b ' Great underrated movie great action good a...,1
3,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,1,0,accountant,developer,"(t, e, m, p, l, a, t, e)",b ' Great underrated movie great action good a...,1
4,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,1,0,accountant,filmmaker,"(t, e, m, p, l, a, t, e)",b ' Great underrated movie great action good a...,1
...,...,...,...,...,...,...,...,...,...
379,"b "" At first I thought this film was going to ...","b "" At first I thought this film was going to ...",0,1,dental hygienist,therapist,"(t, e, m, p, l, a, t, e)","b "" At first I thought this film was going to ...",1
380,"b "" At first I thought this film was going to ...","b "" At first I thought this film was going to ...",0,1,dental hygienist,undertaker,"(t, e, m, p, l, a, t, e)","b "" At first I thought this film was going to ...",1
381,"b "" At first I thought this film was going to ...","b "" At first I thought this film was going to ...",0,1,dental hygienist,veterinarian,"(t, e, m, p, l, a, t, e)","b "" At first I thought this film was going to ...",1
382,"b "" At first I thought this film was going to ...","b "" At first I thought this film was going to ...",0,1,dental hygienist,videographer,"(t, e, m, p, l, a, t, e)","b "" At first I thought this film was going to ...",1
383,"b "" At first I thought this film was going to ...","b "" At first I thought this film was going to ...",0,1,dental hygienist,writer,"(t, e, m, p, l, a, t, e)","b "" At first I thought this film was going to ...",1

In [108]:
import os

base_dir = "../../data/btc/biasfinder/occupation/"
data_dir = base_dir + "full/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)


train = btc.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")

btc.to_csv(data_dir + "test.csv", index=None, header=None, sep="\t")

In [109]:
m1 = btc.iloc[:,[-1,0]]
m1 = m1.rename(columns={"mutant_1": "text"})
m2 = btc.iloc[:,[-1,1]]
m2 = m2.rename(columns={"mutant_2": "text"})

m1

     label                                               text
184      1  b ' Great underrated movie great action good a...
239      0  b ' It's painfully clear that all effort in th...
170      1  b ' Great underrated movie great action good a...
261      0  b ' It's painfully clear that all effort in th...
374      1  b " At first I thought this film was going to ...
..     ...                                                ...
230      0  b ' It's painfully clear that all effort in th...
98       1  b ' Great underrated movie great action good a...
322      1  b " At first I thought this film was going to ...
382      1  b " At first I thought this film was going to ...
365      1  b " At first I thought this film was going to ...

[384 rows x 2 columns]

In [97]:
data = pd.concat([m1, m2])
data

     label                                               text
0        1  b ' Great underrated movie great action good a...
1        1  b ' Great underrated movie great action good a...
2        1  b ' Great underrated movie great action good a...
3        1  b ' Great underrated movie great action good a...
4        1  b ' Great underrated movie great action good a...
..     ...                                                ...
379      1  b " At first I thought this film was going to ...
380      1  b " At first I thought this film was going to ...
381      1  b " At first I thought this film was going to ...
382      1  b " At first I thought this film was going to ...
383      1  b " At first I thought this film was going to ...

[768 rows x 2 columns]

In [98]:
# data["text"] = data["text"].astype("category")
# data["text_id"] = data["text"].cat.codes
# data

In [99]:
unique_data = data.drop_duplicates().reset_index(drop=True)
unique_data

     label                                               text
0        1  b ' Great underrated movie great action good a...
1        1  b ' Great underrated movie great action good a...
2        1  b ' Great underrated movie great action good a...
3        1  b ' Great underrated movie great action good a...
4        1  b ' Great underrated movie great action good a...
..     ...                                                ...
232      1  b " At first I thought this film was going to ...
233      1  b " At first I thought this film was going to ...
234      1  b " At first I thought this film was going to ...
235      1  b " At first I thought this film was going to ...
236      1  b " At first I thought this film was going to ...

[237 rows x 2 columns]

In [100]:
unique_data[unique_data["label"] == 0]

     label                                               text
63       0  b ' It's painfully clear that all effort in th...
64       0  b ' It's painfully clear that all effort in th...
65       0  b ' It's painfully clear that all effort in th...
66       0  b ' It's painfully clear that all effort in th...
67       0  b ' It's painfully clear that all effort in th...
..     ...                                                ...
180      0  b ' It's painfully clear that all effort in th...
181      0  b ' It's painfully clear that all effort in th...
182      0  b ' It's painfully clear that all effort in th...
183      0  b ' It's painfully clear that all effort in th...
184      0  b ' It's painfully clear that all effort in th...

[79 rows x 2 columns]

In [101]:
import os

data_dir = base_dir + "unique/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = unique_data.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")

test = data
test.to_csv(data_dir + "test.csv", index=None, header=None, sep="\t")

In [102]:
btc

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,original,label
0,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,1,0,CEO,developer,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,1
1,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,1,0,CEO,filmmaker,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,1
2,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,1,0,CEO,programmer,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,1
3,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,1,0,accountant,developer,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,1
4,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,1,0,accountant,filmmaker,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,1
...,...,...,...,...,...,...,...,...,...
379,"b "" At first I thought this film was going to ...","b "" At first I thought this film was going to ...",0,1,dental hygienist,therapist,"b "" At first I thought this film was going to ...","b "" At first I thought this film was going to ...",1
380,"b "" At first I thought this film was going to ...","b "" At first I thought this film was going to ...",0,1,dental hygienist,undertaker,"b "" At first I thought this film was going to ...","b "" At first I thought this film was going to ...",1
381,"b "" At first I thought this film was going to ...","b "" At first I thought this film was going to ...",0,1,dental hygienist,veterinarian,"b "" At first I thought this film was going to ...","b "" At first I thought this film was going to ...",1
382,"b "" At first I thought this film was going to ...","b "" At first I thought this film was going to ...",0,1,dental hygienist,videographer,"b "" At first I thought this film was going to ...","b "" At first I thought this film was going to ...",1
383,"b "" At first I thought this film was going to ...","b "" At first I thought this film was going to ...",0,1,dental hygienist,writer,"b "" At first I thought this film was going to ...","b "" At first I thought this film was going to ...",1

In [103]:
btc = btc.sample(frac=1, random_state=123)

texts = []
templates = []
for index, rows in btc[:50].iterrows():
    texts.append(rows["original"])
    texts.append(rows["mutant_1"])
    texts.append(rows["mutant_2"])
    templates.append(rows["template"])

In [104]:
# texts

In [105]:
user_study = pd.DataFrame(data={"text":texts})
template = pd.DataFrame(data={"template":templates})

In [106]:
user_study

                                                  text
0    b ' Great underrated movie great action good a...
1    b ' Great underrated movie great action good a...
2    b ' Great underrated movie great action good a...
3    b ' It's painfully clear that all effort in th...
4    b ' It's painfully clear that all effort in th...
..                                                 ...
145  b ' Great underrated movie great action good a...
146  b ' Great underrated movie great action good a...
147  b ' It's painfully clear that all effort in th...
148  b ' It's painfully clear that all effort in th...
149  b ' It's painfully clear that all effort in th...

[150 rows x 1 columns]

In [107]:
user_study.to_csv("user_study_occupation.csv")
template.to_csv("template_occupation.csv")