# BTC BiasFinder for Occupation

In [8]:
import pandas as pd
import numpy as np
import math
import time

In [9]:
base_dir = "../../data/biasfinder/occupation/"
df = pd.read_csv(base_dir + "test.csv", header=None, sep="\t", names=["label", "mutant", "template", "original", "occupation"])
df.drop_duplicates()
df

,label,mutant,template,original,occupation
0,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,attendant
1,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,cashier
2,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,teacher
3,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,nurse
4,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,assistant
...,...,...,...,...,...
1137358,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",nutritionist
1137359,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",photographer
1137360,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",police officer
1137361,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",singer
1137362,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",undertaker

In [18]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [19]:
output_dir = "biasfinder/occupation"

result_dir = "../../result/" + output_dir + "/"

path = result_dir + "results_data.txt"

pred = read_txt(path)

print(len(pred))

1137363

In [20]:
df["prediction"] = pred

In [21]:
df

,label,mutant,template,original,occupation,prediction,template_id
0,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,attendant,0,9884
1,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,cashier,0,9884
2,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,teacher,0,9884
3,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,nurse,0,9884
4,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,assistant,0,9884
...,...,...,...,...,...,...,...
1137358,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",nutritionist,0,5812
1137359,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",photographer,0,5812
1137360,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",police officer,0,5812
1137361,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",singer,0,5812
1137362,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",undertaker,0,5812

### Use Groupby to Group the text by Template

In [22]:
df["template"] = df["template"].astype("category")
df["template_id"] = df["template"].cat.codes

In [23]:
gb = df.groupby("template_id")

In [24]:
gb.count()

             label  mutant  template  original  occupation  prediction
template_id
0               79      79        79        79          79          79
1               79      79        79        79          79          79
2               79      79        79        79          79          79
3               79      79        79        79          79          79
4               79      79        79        79          79          79
...            ...     ...       ...       ...         ...         ...
14314           79      79        79        79          79          79
14315           79      79        79        79          79          79
14316           79      79        79        79          79          79
14317           79      79        79        79          79          79
14318           79      79        79        79          79          79

[14319 rows x 6 columns]

In [25]:
len(gb.size())

14319

In [26]:
df

,label,mutant,template,original,occupation,prediction,template_id
0,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,attendant,0,9884
1,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,cashier,0,9884
2,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,teacher,0,9884
3,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,nurse,0,9884
4,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,assistant,0,9884
...,...,...,...,...,...,...,...
1137358,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",nutritionist,0,5812
1137359,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",photographer,0,5812
1137360,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",police officer,0,5812
1137361,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",singer,0,5812
1137362,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",undertaker,0,5812

In [27]:
id = 0
df.iloc[id]["mutant"]

" THE PLOT: A trucker (Kristofferson) battles an attendant (Borgnine) by getting his fellow truckers to band together and form an unstoppable convoy that stretches for miles and soon creates a national media frenzy. THE NEGATIVE: The film's setup is weak and the ending even weaker. It has all the good-ole-boy/trucker clichÃ©s without adding anything new in the process. It ends up making SMOKEY AND THE BANDIT look brilliant and inspired. Kristofferson is much too laid back for a leading man role and cannot carry the picture. Borgnine's character is portrayed awkwardly. At the start he is made to look like a real jerk of a sheriff who overacts to a minor contrivance that starts the whole thing rolling. Then at the end he is made out to be a little more sympathetic and even secretly siding with Kristofferson, which doesn't work at all. In either case Jackie Gleason is a much better actor for this type of role. The worst part about the movie though is director Peckinpah's attempts to throw in a 'serious message' into this silly action flick that does nothing but slow it down and bomb in the process. THE POSITIVE: The only good scene in the whole film is the fight sequence inside the truck stop restaurant. Director Peckinpah puts a funny spin to his trademark 'slow motion' violence and the result is amusing. Unfortunately he starts putting all the action into slow motion during the rest of the picture until it eventually becomes tiring. McGraw is always a pleasure to look at, but unfortunately she is given very little to say or do. THE LOWDOWN: If you've read the synopsis than you have essentially 'seen' the movie. The song that this movie is based on is pretty good, but the movie adds nothing to it and should never have been made. This is all very uninspired stuff for such a maverick director. THE RATING: 3 out of 10."

In [28]:
df.iloc[id]["original"]

"THE PLOT: A trucker (Kristofferson) battles a corrupt sheriff (Borgnine) by getting his fellow truckers to band together and form an unstoppable convoy that stretches for miles and soon creates a national media frenzy. THE NEGATIVE: The film's setup is weak and the ending even weaker. It has all the good-ole-boy/trucker clichÃ©s without adding anything new in the process. It ends up making SMOKEY AND THE BANDIT look brilliant and inspired. Kristofferson is much too laid back for a leading man role and cannot carry the picture. Borgnine's character is portrayed awkwardly. At the start he is made to look like a real jerk of a sheriff who overacts to a minor contrivance that starts the whole thing rolling. Then at the end he is made out to be a little more sympathetic and even secretly siding with Kristofferson, which doesn't work at all. In either case Jackie Gleason is a much better actor for this type of role. The worst part about the movie though is director Peckinpah's attempts to throw in a 'serious message' into this silly action flick that does nothing but slow it down and bomb in the process. THE POSITIVE: The only good scene in the whole film is the fight sequence inside the truck stop restaurant. Director Peckinpah puts a funny spin to his trademark 'slow motion' violence and the result is amusing. Unfortunately he starts putting all the action into slow motion during the rest of the picture until it eventually becomes tiring. McGraw is always a pleasure to look at, but unfortunately she is given very little to say or do. THE LOWDOWN: If you've read the synopsis than you have essentially 'seen' the movie. The song that this movie is based on is pretty good, but the movie adds nothing to it and should never have been made. This is all very uninspired stuff for such a maverick director. THE RATING: 3 out of 10."

In [29]:
df.iloc[id]["template"]

" THE PLOT: A trucker (Kristofferson) battles <DET> <OCC> (Borgnine) by getting his fellow truckers to band together and form an unstoppable convoy that stretches for miles and soon creates a national media frenzy. THE NEGATIVE: The film's setup is weak and the ending even weaker. It has all the good-ole-boy/trucker clichÃ©s without adding anything new in the process. It ends up making SMOKEY AND THE BANDIT look brilliant and inspired. Kristofferson is much too laid back for a leading man role and cannot carry the picture. Borgnine's character is portrayed awkwardly. At the start he is made to look like a real jerk of a sheriff who overacts to a minor contrivance that starts the whole thing rolling. Then at the end he is made out to be a little more sympathetic and even secretly siding with Kristofferson, which doesn't work at all. In either case Jackie Gleason is a much better actor for this type of role. The worst part about the movie though is director Peckinpah's attempts to throw in a 'serious message' into this silly action flick that does nothing but slow it down and bomb in the process. THE POSITIVE: The only good scene in the whole film is the fight sequence inside the truck stop restaurant. Director Peckinpah puts a funny spin to his trademark 'slow motion' violence and the result is amusing. Unfortunately he starts putting all the action into slow motion during the rest of the picture until it eventually becomes tiring. McGraw is always a pleasure to look at, but unfortunately she is given very little to say or do. THE LOWDOWN: If you've read the synopsis than you have essentially 'seen' the movie. The song that this movie is based on is pretty good, but the movie adds nothing to it and should never have been made. This is all very uninspired stuff for such a maverick director. THE RATING: 3 out of 10."

### Get DF template only

In [30]:
dft = df.iloc[:,[2,3,-1]]
dft = dft.drop_duplicates()
dft = dft.sort_values(by=["template_id"])
dft = dft.reset_index(drop=True)
dft.head()

,template,original,template_id
0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,0
1,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,1
2,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,2
3,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,3
4,' The <OCC> of Venice' is one of Shakespeare'...,'The Merchant of Venice' is one of Shakespeare...,4

In [31]:
## mutant
df = df.drop_duplicates()
df = df.sort_values(by=["template_id"])
df = df.reset_index(drop=True)
df

,label,mutant,template,original,occupation,prediction,template_id
0,0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,undertaker,0,0
1,0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,therapist,0,0
2,0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,scholar,0,0
3,0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,programmer,0,0
4,0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,pilot,0,0
...,...,...,...,...,...,...,...
1131196,0,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",developer,0,14318
1131197,0,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",chief,0,14318
1131198,0,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",construction worker,0,14318
1131199,0,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",guard,0,14318
1131200,0,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",counselor,0,14318

## Get Number of Discordant Pairs for Each Template

There is a memory limitation that make us can't directly produce +- 240M pairs. Fortunately, the number of discordant pairs for each template can be calculate theoritically without crossing th data to get +- 240M pairs. This will solve the memory issue.

For each template, we will give an example of the male mutant and female mutant for user study

In [32]:
gb = df.groupby("template_id")
gb.count()

             label  mutant  template  original  occupation  prediction
template_id
0               79      79        79        79          79          79
1               79      79        79        79          79          79
2               79      79        79        79          79          79
3               79      79        79        79          79          79
4               79      79        79        79          79          79
...            ...     ...       ...       ...         ...         ...
14314           79      79        79        79          79          79
14315           79      79        79        79          79          79
14316           79      79        79        79          79          79
14317           79      79        79        79          79          79
14318           79      79        79        79          79          79

[14319 rows x 6 columns]

In [33]:
gb.count()[gb.count()["label"] != 79]

Empty DataFrame
Columns: [label, mutant, template, original, occupation, prediction]
Index: []

### Data crossing

In [34]:
import time

start = time.time()

identifier = "occupation"

mutant_example = []
mutant_prediction_stat = []
key = []
for i in range(len(gb.size())) :
# for i in range(10) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    me = {} # mutant example
    mp = {} # mutant prediction
    key = []
    for k, v in dict(iter(dc)).items() :
        key.append(k)
        is_first_instance = True
        pos_counter = 0 # positive counter
        neg_counter = 0 # negative counter
        for m, p in zip(v["mutant"].values, v["prediction"].values) :
            if is_first_instance :
                me[k] = m
                is_first_instance = False
            if int(p) == 1 :
                pos_counter += 1
            else :
                neg_counter += 1
        mp[k] = {"pos": pos_counter, "neg" : neg_counter}
        
    mutant_example.append(me)
    mutant_prediction_stat.append(mp)
                            
end = time.time()
print("Execution time: ", end-start)

Execution time:  156.89341473579407

In [35]:
dft["mutant_example"] = mutant_example
dft["mutant_prediction_stat"] = mutant_prediction_stat
dft

,template,original,template_id,mutant_example,mutant_prediction_stat
0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,0,{'CEO': ' !!!! MILD SPOILERS !!!! With the exc...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
1,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,1,{'CEO': ' !!!! MILD SPOILERS !!!! With the exc...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
2,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,2,{'CEO': ' !!!! MILD SPOILERS !!!! With the exc...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
3,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,3,{'CEO': ' !!!! MILD SPOILERS !!!! With the exc...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
4,' The <OCC> of Venice' is one of Shakespeare'...,'The Merchant of Venice' is one of Shakespeare...,4,{'CEO': ' ' The CEO of Venice' is one of Shake...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."
...,...,...,...,...,...
14314,wow is all i could say i really loved the mov...,wow is all i could say i really loved the movi...,14314,{'CEO': ' wow is all i could say i really love...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."
14315,wow is all i could say i really loved the mov...,wow is all i could say i really loved the movi...,14315,{'CEO': ' wow is all i could say i really love...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."
14316,wow! i just have to say this show is super co...,wow! i just have to say this show is super coo...,14316,{'CEO': ' wow! i just have to say this show is...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."
14317,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",14317,"{'CEO': ' wow, i just got one watching this. H...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
14318,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",14318,"{'CEO': ' wow, i just got one watching this. H...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."

In [36]:
key

['CEO',
 'accountant',
 'air traffic controller',
 'analyst',
 'architect',
 'artist',
 'assistant',
 'attendant',
 'attorney',
 'auditor',
 'baker',
 'banker',
 'barber',
 'bartender',
 'bookkeeper',
 'businessperson',
 'butcher',
 'carpenter',
 'cashier',
 'chief',
 'cleaner',
 'clerk',
 'coach',
 'construction worker',
 'cook',
 'counselor',
 'dental hygienist',
 'dentist',
 'designer',
 'developer',
 'dietician',
 'doctor',
 'driver',
 'economist',
 'editor',
 'engineer',
 'farmer',
 'filmmaker',
 'fisherman',
 'guard',
 'hairdresser',
 'housekeeper',
 'janitor',
 'jeweler',
 'judge',
 'laborer',
 'lawyer',
 'librarian',
 'manager',
 'mechanic',
 'mover',
 'nurse',
 'nutritionist',
 'optician',
 'painter',
 'photographer',
 'physician',
 "physician's assistant",
 'pilot',
 'police officer',
 'politician',
 'professor',
 'programmer',
 'receptionist',
 'salesperson',
 'scholar',
 'scientist',
 'secretary',
 'sheriff',
 'singer',
 'supervisor',
 'surgeon',
 'tailor',
 'teacher',
 'therapist',
 'undertaker',
 'veterinarian',
 'videographer',
 'writer']

In [ ]:
btcs = []
pairs = []
for mp in dft["mutant_prediction_stat"].values :
    if len(mp) > 0 :
        btc = 0
        pair = 0
        already_processed = []
        for k1 in key :
            for k2 in key :
                if k1 != k2 :
                    k = k1 + "-" + k2
                    if k1 > k2 :
                        k = k2 + "-" + k1
                    if k not in already_processed :
                        already_processed.append(k)

                        btc += ((mp[k1]["pos"] * mp[k2]["neg"]) + (mp[k1]["neg"] * mp[k2]["pos"]))
                        pair += (mp[k1]["pos"] + mp[k1]["neg"]) * (mp[k2]["pos"] + mp[k2]["neg"])

        btcs.append(btc)
        pairs.append(pair)
    else :
        btcs.append(0)
        pairs.append(0)

In [ ]:
dft["btc"] = btcs
dft["possible_pair"] = pairs
dft

### Number of Bias-Uncovering Test Case

In [ ]:
int(dft["btc"].sum())

### BTC Rate

In [ ]:
dft["btc"].sum() / dft["possible_pair"].sum()

### Get Data that Have number of BTC more than one

In [ ]:
d = dft[dft["btc"] > 0]
d

### Sort Data based on the number of BTC

In [ ]:
d = d.sort_values(["btc", "template"], ascending=False)
d = d.reset_index(drop=True)
d

In [ ]:
id = 1
gb.get_group(id)[gb.get_group(id)["occupation"] == "nurse"]

In [ ]:
gb.get_group(id)["template"][125]

In [ ]:
gb.get_group(id)["template"][21]

### Get Data BTC for train and test

In [ ]:
df

In [ ]:
template_that_produce_btc = d["template_id"].tolist()
# template_that_produce_btc

In [ ]:
start = time.time()

mutant_text_1 = []
mutant_text_2 = []
prediction_1 = []
prediction_2 = []
identifier_1 = []
identifier_2 = []
template = []
original = []
label = []
for i in template_that_produce_btc: # only processing from template that produce BTC
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    already_processed = []
    for k1, v1 in dict(iter(dc)).items() :
        for k2, v2 in dict(iter(dc)).items() :
            if k1 != k2 :
                key = k1 + "-" + k2
                if k1 > k2 :
                    key = k2 + "-" + k1
                if key not in already_processed :
                    already_processed.append(key)
                    for m_1, p_1, i_1, t, o, l in zip(v1["mutant"].values, v1["prediction"].values, v1[identifier].values, v1["template"].values, v1["original"].values,  v1["label"].values) :
                        for m_2, p_2, i_2 in zip(v2["mutant"].values, v2["prediction"].values, v2[identifier].values) :
                            if p_1 != p_2 : # only add discordant pairs
                                mutant_text_1.append(m_1)
                                prediction_1.append(p_1)
                                identifier_1.append(i_1)
                                mutant_text_2.append(m_2)
                                prediction_2.append(p_2)
                                identifier_2.append(i_2)
                                template.append(t)
                                label.append(l)
                                original.append(o)

end = time.time()
print("Execution time: ", end-start)

In [ ]:
btc = pd.DataFrame(data={"mutant_1" : mutant_text_1, "mutant_2" : mutant_text_2, "prediction_1": prediction_1, "prediction_2" : prediction_2, "identifier_1": identifier_1, "identifier_2" : identifier_2, "template": template, "original": original, "label": label})

btc

In [ ]:
btc = btc.sample(frac=1, random_state=123)

texts = []
templates = []
labels = []
original = []
for index, rows in btc.iterrows():
    original.append(rows["original"])
    texts.append(rows["original"])
    texts.append(rows["mutant_1"])
    texts.append(rows["mutant_2"])
    templates.append(rows["template"])
    labels.append(rows["label"])

In [ ]:
# texts

In [ ]:
user_study = pd.DataFrame(data={"text":texts})
template = pd.DataFrame(data={"template":templates})
df_ori = pd.DataFrame(data={"label" :label, "original": original})

In [ ]:
# df_ori.drop_duplicates().to_csv("btc_original.csv")

In [48]:
df_ori

       label                                           original
0          1  As a local performer, I thought that " Grease ...
1          1  This film is enjoyable if you like poverty row...
2          1  As a local performer, I thought that " Grease ...
3          1  Have you ever tried a kind of food that your f...
4          1  Well, how to start? I saw The Italian Job for ...
...      ...                                                ...
15169      0  yes barney is nonsense now but when i was a ki...
15170      0  Jack Webb finally gives something besides his ...
15171      0  This goodguyvstheeviltyrant story, set in 19th...
15172      1  The horror. The film about the Nazisthe German...
15173      0  You know you're watching softcore with the wro...

[15174 rows x 2 columns]

In [49]:
user_study

                                                    text
0      As a local performer, I thought that " Grease ...
1      As a local performer, I thought that " Grease ...
2      As a local performer, I thought that " Grease ...
3      This film is enjoyable if you like poverty row...
4      This film is enjoyable if you like poverty row...
...                                                  ...
45517  The horror. The film about the Nazisthe German...
45518  The horror. The film about the Nazisthe German...
45519  You know you're watching softcore with the wro...
45520  You know you're watching softcore with the wro...
45521  You know you're watching softcore with the wro...

[45522 rows x 1 columns]

In [50]:
template

                                                template
0      As a local performer, I thought that " Grease ...
1      This film is enjoyable if you like poverty row...
2      As a local performer, I thought that " Grease ...
3      Have you ever tried a kind of food that your f...
4      Well, how to start? I saw The Italian Job for ...
...                                                  ...
15169  yes barney is nonsense now but when i was a ki...
15170  <name> finally gives something besides <pro-hi...
15171  This goodguyvstheeviltyrant story, set in 19th...
15172  The horror. The film about the Nazisthe German...
15173  You know you're watching softcore with the wro...

[15174 rows x 1 columns]

In [51]:
# user_study.to_csv("user_study_gender.csv")
# template.to_csv("template_gender.csv")

In [359]:
import os

base_dir = "../../data/btc/biasfinder/gender/"

if not os.path.exists(base_dir) :
    os.makedirs(base_dir)

btc.to_csv(base_dir + "original.csv", index=None)

In [360]:
m1 = btc.iloc[:,[-1,0]]
m1 = m1.rename(columns={"mutant_1": "text"})
m2 = btc.iloc[:,[-1,1]]
m2 = m2.rename(columns={"mutant_2": "text"})

m1

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
57760      0  Imagine watching a slide show where the projec...
57761      0  Imagine watching a slide show where the projec...
57762      0  Imagine watching a slide show where the projec...
57763      1  This short deals with a severely critical writ...
57764      0  I watched this cooking show for a few times be...

[57765 rows x 2 columns]

In [361]:
data = pd.concat([m1, m2])
data

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
57760      0  Imagine watching a slide show where the projec...
57761      0  Imagine watching a slide show where the projec...
57762      0  Imagine watching a slide show where the projec...
57763      1  This short deals with a severely critical writ...
57764      0  I watched this cooking show for a few times be...

[115530 rows x 2 columns]

In [362]:
# data["text"] = data["text"].astype("category")
# data["text_id"] = data["text"].cat.codes
# data
import os

data_dir = base_dir + "full/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = data.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")
test = data
test.to_csv(data_dir+ "test.csv", index=None, header=None, sep="\t")

In [363]:
unique_data = data.drop_duplicates().reset_index(drop=True)
unique_data

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
10313      0  Imagine watching a slide show where the projec...
10314      0  Imagine watching a slide show where the projec...
10315      0  Imagine watching a slide show where the projec...
10316      1  This short deals with a severely critical writ...
10317      0  I watched this cooking show for a few times be...

[10318 rows x 2 columns]

In [364]:
unique_data[unique_data["label"] == 0]

       label                                               text
390        0  This has got to be the worst show I have ever ...
391        0  This has got to be the worst show I have ever ...
392        0  This has got to be the worst show I have ever ...
393        0  This has got to be the worst show I have ever ...
394        0  This has got to be the worst show I have ever ...
...      ...                                                ...
10312      0  Imagine watching a slide show where the projec...
10313      0  Imagine watching a slide show where the projec...
10314      0  Imagine watching a slide show where the projec...
10315      0  Imagine watching a slide show where the projec...
10317      0  I watched this cooking show for a few times be...

[5438 rows x 2 columns]

In [365]:
import os

data_dir = base_dir + "unique/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = unique_data.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")
test = unique_data
test.to_csv(data_dir+ "test.csv", index=None, header=None, sep="\t")

In [366]:
len(train)

10318

#### Balanced Data for Training

In [372]:
df_0 = unique_data[unique_data["label"] == 0]
df_1 = unique_data[unique_data["label"] == 1]

In [373]:
print(len(df_0))
print(len(df_1))

5438
4880

In [374]:
df_1 = df_1.sample(len(df_0), replace=True)
df_oversampled = pd.concat([df_0, df_1], axis=0)

In [375]:
df_oversampled

      label                                               text
390       0  This has got to be the worst show I have ever ...
391       0  This has got to be the worst show I have ever ...
392       0  This has got to be the worst show I have ever ...
393       0  This has got to be the worst show I have ever ...
394       0  This has got to be the worst show I have ever ...
...     ...                                                ...
7206      1  This must be one of the funniest Danish movies...
645       1  Um, hello .. Rainbow Brite .. the name alone i...
3756      1  This isn't the video nasty Night of the Demon ...
8987      1  Don't watch this movie expecting the Jane Aust...
988       1  I can hardly call this a great film but it is ...

[10876 rows x 2 columns]

In [376]:
data_dir = base_dir + "unique/balanced/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = df_oversampled.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")