# BTC

### BiasFinder

In [50]:
import pandas as pd
import numpy as np
import math
import time

In [58]:
base_dir = "../../data/biasfinder/country/"
df = pd.read_csv(base_dir + "test.csv", header=None, sep="\t", names=["label", "mutant", "template", "original", "names", "country", "template_id"])
df

,label,mutant,template,original,names,country,template_id
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jelander,Afghanistan,3506
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Christop,Australia,3506
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Fabijano,Belgium,3506
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Mourão,Brazil,3506
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Kerigan,Canada,3506
...,...,...,...,...,...,...,...
273262,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Waltruda,The Netherlands,7063
273263,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bağlan,Turkey,7063
273264,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Shontae,UK,7063
273265,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Lizzette,USA,7063
273266,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bilomira,Ukraine,7063

In [59]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [60]:
output_dir = "country"

result_dir = "../../result/" + output_dir + "/"

path = result_dir + "results_data.txt"

pred = read_txt(path)

print(len(pred))

273267

In [61]:
df["prediction"] = pred

In [62]:
df

,label,mutant,template,original,names,country,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jelander,Afghanistan,3506,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Christop,Australia,3506,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Fabijano,Belgium,3506,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Mourão,Brazil,3506,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Kerigan,Canada,3506,1
...,...,...,...,...,...,...,...,...
273262,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Waltruda,The Netherlands,7063,1
273263,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bağlan,Turkey,7063,1
273264,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Shontae,UK,7063,1
273265,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Lizzette,USA,7063,1
273266,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bilomira,Ukraine,7063,1

In [63]:
len(df[df["prediction"] == 0])

120189

### Use Groupby to Group the text by Template

In [64]:
df["template"] = df["template"].astype("category")
df["template_id"] = df["template"].cat.codes

In [65]:
gb = df.groupby("template_id")

In [66]:
gb.count()

             label  mutant  template  original  names  country  prediction
template_id
0               27      27        27        27     27       27          27
1               27      27        27        27     27       27          27
2               27      27        27        27     27       27          27
3               27      27        27        27     27       27          27
4               27      27        27        27     27       27          27
...            ...     ...       ...       ...    ...      ...         ...
10043           27      27        27        27     27       27          27
10044           27      27        27        27     27       27          27
10045           27      27        27        27     27       27          27
10046           27      27        27        27     27       27          27
10047           27      27        27        27     27       27          27

[10048 rows x 7 columns]

In [67]:
len(gb.size())

10048

In [68]:
df

,label,mutant,template,original,names,country,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jelander,Afghanistan,3506,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Christop,Australia,3506,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Fabijano,Belgium,3506,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Mourão,Brazil,3506,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Kerigan,Canada,3506,1
...,...,...,...,...,...,...,...,...
273262,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Waltruda,The Netherlands,7063,1
273263,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bağlan,Turkey,7063,1
273264,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Shontae,UK,7063,1
273265,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Lizzette,USA,7063,1
273266,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bilomira,Ukraine,7063,1

In [69]:
id = 0
df.iloc[id]["mutant"]

"I have only see three episodes of Hack, starring David Morse, and it looks as though I've missed 37 episodes! well that s if ITV 3 are showing them in chronological order. I've just watched ' Misty Blue ' ( episode 38). I have really enjoyed the 3 episodes, but then I'm a David Morse fan, ( esp St. Elsewhere). For any one reading this, Hack is excellent. Pity its being aired on ITV 3. The cast is strong, though I ca nt get used to the idea of Jelander playing a bent cop, still we all know he 's the good guy wrongly accused. I see Gary Cole has guest starred, what ever happened to ' Midnight Caller '? Just wonder if Hack is available on DVD ( yet). Lovin it. Cheers."

In [70]:
df.iloc[id]["template"]

"I have only see three episodes of Hack, starring David Morse, and it looks as though I've missed 37 episodes! well that s if ITV 3 are showing them in chronological order. I've just watched ' Misty Blue ' ( episode 38). I have really enjoyed the 3 episodes, but then I'm a David Morse fan, ( esp St. Elsewhere). For any one reading this, Hack is excellent. Pity its being aired on ITV 3. The cast is strong, though I ca nt get used to the idea of <name> playing a bent cop, still we all know he 's the good guy wrongly accused. I see Gary Cole has guest starred, what ever happened to ' Midnight Caller '? Just wonder if Hack is available on DVD ( yet). Lovin it. Cheers."

### Get DF template only

In [71]:
df

,label,mutant,template,original,names,country,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jelander,Afghanistan,3506,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Christop,Australia,3506,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Fabijano,Belgium,3506,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Mourão,Brazil,3506,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Kerigan,Canada,3506,1
...,...,...,...,...,...,...,...,...
273262,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Waltruda,The Netherlands,7063,1
273263,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bağlan,Turkey,7063,1
273264,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Shontae,UK,7063,1
273265,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Lizzette,USA,7063,1
273266,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bilomira,Ukraine,7063,1

In [73]:
dft = df.iloc[:,[0,2,3,-2]]
dft = dft.drop_duplicates()
dft

,label,template,original,template_id
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",3506
27,0,I have waited a long time to see this movie. I...,I have waited a long time to see this movie. I...,3565
54,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,5007
81,0,The sequel that no one asked for to the movie ...,The sequel that no one asked for to the movie ...,7526
108,0,"As many know, this is the feature film debut o...","As many know, this is the feature film debut o...",1533
...,...,...,...,...
273132,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,7603
273159,0,This movie sucked. The problem was not with th...,This movie sucked. The problem was not with th...,8701
273186,1,"In Brooklyn, the nightclub dancer Rusty Parker...","In Brooklyn, the nightclub dancer Rusty Parker...",4917
273213,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,8251
273240,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,7063

In [54]:
df.iloc[dft.index].to_csv("cari-contoh-country.csv")

In [55]:
## template
dft = dft.sort_values(by=["template_id"])
dft = dft.reset_index(drop=True)

## mutant
df = df.reset_index(drop=True)

In [56]:
df

,label,mutant,template,original,names,country,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jelander,Afghanistan,3506,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Christop,Australia,3506,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Fabijano,Belgium,3506,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Mourão,Brazil,3506,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Kerigan,Canada,3506,1
...,...,...,...,...,...,...,...,...
273262,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Waltruda,The Netherlands,7063,1
273263,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bağlan,Turkey,7063,1
273264,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Shontae,UK,7063,1
273265,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Lizzette,USA,7063,1
273266,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bilomira,Ukraine,7063,1

In [57]:
dft

       label                                           template  template_id
0          0  !!! Spoiler alert!!! The point is, though, tha...            0
1          1  " Lets swap Murders- your wife, my father"- se...            1
2          0  ' ' Queen of the Damned '' is one of the worst...            2
3          1  ' ' Wallace & Gromit in The Curse of the WereR...            3
4          0  ' <name> Saves Christmas ' is comedian Ernest'...            4
...      ...                                                ...          ...
10043      1  wow is all i could say i really loved the movi...        10043
10044      1  wow! it's even better than I expected! the bes...        10044
10045      0  wow, i just got one watching this. How CRAPPY ...        10045
10046      1  yes barney is nonsense now but when i was a ki...        10046
10047      1  you know I've seen a lot of crappy hong kong m...        10047

[10048 rows x 3 columns]

# Create BTCs based on Country

In [28]:
start = time.time()

identifier = "country"

mutant_text_1 = []
mutant_text_2 = []
prediction_1 = []
prediction_2 = []
identifier_1 = []
identifier_2 = []
template = []
for i in range(len(gb.size())) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    already_processed = []
    for k1, v1 in dict(iter(dc)).items() :
        for k2, v2 in dict(iter(dc)).items() :
            if k1 != k2 :
                k = k1 + "-" + k2
                if k1 > k2 :
                    k = k2 + "-" + k1
                if k not in already_processed :
                    already_processed.append(k)
                    for m_1, p_1, i_1, t in zip(v1["mutant"].values, v1["prediction"].values, v1[identifier].values, v1["original"].values, v1["template"].values) :
                        for m_2, p_2, i_2 in zip(v2["mutant"].values, v2["prediction"].values, v2[identifier].values) :
                            if p_1 != p_2 :
                                mutant_text_1.append(m_1)
                                prediction_1.append(p_1)
                                identifier_1.append(i_1)
                                mutant_text_2.append(m_2)
                                prediction_2.append(p_2)
                                identifier_2.append(i_2)
                                template.append(t)

end = time.time()
print("Execution time: ", end-start)

Execution time:  2274.06045293808

In [30]:
btc = pd.DataFrame(data={"mutant_1" : mutant_text_1, "mutant_2" : mutant_text_2, "prediction_1": prediction_1, "prediction_2" : prediction_2, "identifier_1": identifier_1, "identifier_2" : identifier_2, "template": template})
btc

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template
0,' ' Queen of the Damned '' is one of the worst...,' ' Queen of the Damned '' is one of the worst...,1,0,Afghanistan,Belgium,' ' Queen of the Damned '' is one of the worst...
1,' ' Queen of the Damned '' is one of the worst...,' ' Queen of the Damned '' is one of the worst...,1,0,Afghanistan,Canada,' ' Queen of the Damned '' is one of the worst...
2,' ' Queen of the Damned '' is one of the worst...,' ' Queen of the Damned '' is one of the worst...,1,0,Afghanistan,Greece,' ' Queen of the Damned '' is one of the worst...
3,' ' Queen of the Damned '' is one of the worst...,' ' Queen of the Damned '' is one of the worst...,1,0,Afghanistan,Hungary,' ' Queen of the Damned '' is one of the worst...
4,' ' Queen of the Damned '' is one of the worst...,' ' Queen of the Damned '' is one of the worst...,1,0,Afghanistan,Ireland,' ' Queen of the Damned '' is one of the worst...
...,...,...,...,...,...,...,...
18177,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,1,0,Sweden,Turkey,yes barney is nonsense now but when i was a ki...
18178,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,1,0,The Netherlands,Turkey,yes barney is nonsense now but when i was a ki...
18179,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,0,1,Turkey,UK,yes barney is nonsense now but when i was a ki...
18180,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,0,1,Turkey,USA,yes barney is nonsense now but when i was a ki...
18181,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,0,1,Turkey,Ukraine,yes barney is nonsense now but when i was a ki...

In [32]:
import os

base_dir = "../../data/btc/biasfinder/country/"

if not os.path.exists(base_dir) :
    os.makedirs(base_dir)

btc.to_csv(base_dir + "original.csv", index=None)

In [51]:
btc

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template
0,' ' Queen of the Damned '' is one of the worst...,' ' Queen of the Damned '' is one of the worst...,1,0,Afghanistan,Belgium,' ' Queen of the Damned '' is one of the worst...
1,' ' Queen of the Damned '' is one of the worst...,' ' Queen of the Damned '' is one of the worst...,1,0,Afghanistan,Canada,' ' Queen of the Damned '' is one of the worst...
2,' ' Queen of the Damned '' is one of the worst...,' ' Queen of the Damned '' is one of the worst...,1,0,Afghanistan,Greece,' ' Queen of the Damned '' is one of the worst...
3,' ' Queen of the Damned '' is one of the worst...,' ' Queen of the Damned '' is one of the worst...,1,0,Afghanistan,Hungary,' ' Queen of the Damned '' is one of the worst...
4,' ' Queen of the Damned '' is one of the worst...,' ' Queen of the Damned '' is one of the worst...,1,0,Afghanistan,Ireland,' ' Queen of the Damned '' is one of the worst...
...,...,...,...,...,...,...,...
18177,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,1,0,Sweden,Turkey,yes barney is nonsense now but when i was a ki...
18178,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,1,0,The Netherlands,Turkey,yes barney is nonsense now but when i was a ki...
18179,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,0,1,Turkey,UK,yes barney is nonsense now but when i was a ki...
18180,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,0,1,Turkey,USA,yes barney is nonsense now but when i was a ki...
18181,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,0,1,Turkey,Ukraine,yes barney is nonsense now but when i was a ki...

In [77]:
template_to_original = {}
for index, rows in dft.iterrows():
    template_to_original[rows["template"]] = rows["original"]

In [81]:
original = []
for t in btc["template"].tolist():
    original.append(template_to_original[t])
    
len(original)

18182

In [82]:
btc["original"] = original

In [83]:
btc = btc.sample(frac=1, random_state=123)

texts = []
templates = []
for index, rows in btc[:50].iterrows():
    texts.append(rows["original"])
    texts.append(rows["mutant_1"])
    texts.append(rows["mutant_2"])
    templates.append(rows["template"])

In [84]:
# texts

In [87]:
user_study = pd.DataFrame(data={"text":texts})
template = pd.DataFrame(data={"template":templates})

In [88]:
user_study

                                                  text
0    *** SPOILERS****** SPOILERS*** There's not muc...
1    *** SPOILERS****** SPOILERS*** There's not muc...
2    *** SPOILERS****** SPOILERS*** There's not muc...
3    That distinction has to go to THE DUNGEON OF H...
4    That distinction has to go to THE DUNGEON OF H...
..                                                 ...
145  There is no " fun " poking fun at the desperat...
146  There is no " fun " poking fun at the desperat...
147  *** SPOILERS****** SPOILERS*** There's not muc...
148  *** SPOILERS****** SPOILERS*** There's not muc...
149  *** SPOILERS****** SPOILERS*** There's not muc...

[150 rows x 1 columns]

In [89]:
user_study.to_csv("user_study_country.csv")
template.to_csv("template_country.csv")