# BTC

### BiasFinder

In [28]:
import pandas as pd
import numpy as np
import math
import time

In [29]:
base_dir = "../../data/biasfinder/country_backup/"
df = pd.read_csv(base_dir + "test.csv", header=None, sep="\t", names=["label", "mutant", "template", "original", "names", "country", "template_id"])
df

,label,mutant,template,original,names,country,template_id
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jelander,Afghanistan,3506
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Christop,Australia,3506
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Fabijano,Belgium,3506
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Mourão,Brazil,3506
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Kerigan,Canada,3506
...,...,...,...,...,...,...,...
273262,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Waltruda,The Netherlands,7063
273263,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bağlan,Turkey,7063
273264,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Shontae,UK,7063
273265,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Lizzette,USA,7063
273266,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bilomira,Ukraine,7063

In [30]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [31]:
output_dir = "country"

result_dir = "../../result/" + output_dir + "/"

path = result_dir + "results_data.txt"

pred = read_txt(path)

print(len(pred))

273267

In [32]:
df["prediction"] = pred

In [33]:
df

,label,mutant,template,original,names,country,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jelander,Afghanistan,3506,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Christop,Australia,3506,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Fabijano,Belgium,3506,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Mourão,Brazil,3506,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Kerigan,Canada,3506,1
...,...,...,...,...,...,...,...,...
273262,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Waltruda,The Netherlands,7063,1
273263,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bağlan,Turkey,7063,1
273264,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Shontae,UK,7063,1
273265,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Lizzette,USA,7063,1
273266,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bilomira,Ukraine,7063,1

In [34]:
len(df[df["prediction"] == 0])

120189

### Use Groupby to Group the text by Template

In [35]:
df["template"] = df["template"].astype("category")
df["template_id"] = df["template"].cat.codes

In [36]:
gb = df.groupby("template_id")

In [37]:
gb.count()

             label  mutant  template  original  names  country  prediction
template_id
0               27      27        27        27     27       27          27
1               27      27        27        27     27       27          27
2               27      27        27        27     27       27          27
3               27      27        27        27     27       27          27
4               27      27        27        27     27       27          27
...            ...     ...       ...       ...    ...      ...         ...
10043           27      27        27        27     27       27          27
10044           27      27        27        27     27       27          27
10045           27      27        27        27     27       27          27
10046           27      27        27        27     27       27          27
10047           27      27        27        27     27       27          27

[10048 rows x 7 columns]

In [38]:
len(gb.size())

10048

In [39]:
df

,label,mutant,template,original,names,country,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jelander,Afghanistan,3506,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Christop,Australia,3506,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Fabijano,Belgium,3506,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Mourão,Brazil,3506,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Kerigan,Canada,3506,1
...,...,...,...,...,...,...,...,...
273262,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Waltruda,The Netherlands,7063,1
273263,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bağlan,Turkey,7063,1
273264,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Shontae,UK,7063,1
273265,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Lizzette,USA,7063,1
273266,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bilomira,Ukraine,7063,1

In [40]:
id = 1
df.iloc[id]["mutant"]

"I have only see three episodes of Hack, starring David Morse, and it looks as though I've missed 37 episodes! well that s if ITV 3 are showing them in chronological order. I've just watched ' Misty Blue ' ( episode 38). I have really enjoyed the 3 episodes, but then I'm a David Morse fan, ( esp St. Elsewhere). For any one reading this, Hack is excellent. Pity its being aired on ITV 3. The cast is strong, though I ca nt get used to the idea of Christop playing a bent cop, still we all know he 's the good guy wrongly accused. I see Gary Cole has guest starred, what ever happened to ' Midnight Caller '? Just wonder if Hack is available on DVD ( yet). Lovin it. Cheers."

In [41]:
df.iloc[id]["template"]

"I have only see three episodes of Hack, starring David Morse, and it looks as though I've missed 37 episodes! well that s if ITV 3 are showing them in chronological order. I've just watched ' Misty Blue ' ( episode 38). I have really enjoyed the 3 episodes, but then I'm a David Morse fan, ( esp St. Elsewhere). For any one reading this, Hack is excellent. Pity its being aired on ITV 3. The cast is strong, though I ca nt get used to the idea of <name> playing a bent cop, still we all know he 's the good guy wrongly accused. I see Gary Cole has guest starred, what ever happened to ' Midnight Caller '? Just wonder if Hack is available on DVD ( yet). Lovin it. Cheers."

### Get DF template only

In [42]:
df

,label,mutant,template,original,names,country,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jelander,Afghanistan,3506,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Christop,Australia,3506,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Fabijano,Belgium,3506,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Mourão,Brazil,3506,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Kerigan,Canada,3506,1
...,...,...,...,...,...,...,...,...
273262,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Waltruda,The Netherlands,7063,1
273263,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bağlan,Turkey,7063,1
273264,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Shontae,UK,7063,1
273265,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Lizzette,USA,7063,1
273266,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bilomira,Ukraine,7063,1

In [43]:
dft = df.iloc[:,[0,2,-2]]
dft = dft.drop_duplicates()
dft

        label                                           template  template_id
0           1  I have only see three episodes of Hack, starri...         3506
27          0  I have waited a long time to see this movie. I...         3565
54          1  In the groovy mid 70's a scruffy bunch of bras...         5007
81          0  The sequel that no one asked for to the movie ...         7526
108         0  As many know, this is the feature film debut o...         1533
...       ...                                                ...          ...
273132      0  The weakest of the ' old ' crew Star Trek film...         7603
273159      0  This movie sucked. The problem was not with th...         8701
273186      1  In Brooklyn, the nightclub dancer Rusty Parker...         4917
273213      1  This is another of my favorite Columbos. It sp...         8251
273240      1  The French Babbette appears at the modest hous...         7063

[10048 rows x 3 columns]

In [44]:
## template
dft = dft.sort_values(by=["template_id"])
dft = dft.reset_index(drop=True)

## mutant
df = df.reset_index(drop=True)

In [45]:
df

,label,mutant,template,original,names,country,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jelander,Afghanistan,3506,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Christop,Australia,3506,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Fabijano,Belgium,3506,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Mourão,Brazil,3506,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Kerigan,Canada,3506,1
...,...,...,...,...,...,...,...,...
273262,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Waltruda,The Netherlands,7063,1
273263,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bağlan,Turkey,7063,1
273264,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Shontae,UK,7063,1
273265,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Lizzette,USA,7063,1
273266,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bilomira,Ukraine,7063,1

In [46]:
dft

       label                                           template  template_id
0          0  !!! Spoiler alert!!! The point is, though, tha...            0
1          1  " Lets swap Murders- your wife, my father"- se...            1
2          0  ' ' Queen of the Damned '' is one of the worst...            2
3          1  ' ' Wallace & Gromit in The Curse of the WereR...            3
4          0  ' <name> Saves Christmas ' is comedian Ernest'...            4
...      ...                                                ...          ...
10043      1  wow is all i could say i really loved the movi...        10043
10044      1  wow! it's even better than I expected! the bes...        10044
10045      0  wow, i just got one watching this. How CRAPPY ...        10045
10046      1  yes barney is nonsense now but when i was a ki...        10046
10047      1  you know I've seen a lot of crappy hong kong m...        10047

[10048 rows x 3 columns]

In [47]:
dcountries = df["country"].drop_duplicates().tolist()
dcountries

['Afghanistan',
 'Australia',
 'Belgium',
 'Brazil',
 'Canada',
 'Czech',
 'Finland',
 'Greece',
 'Hungary',
 'India',
 'Iran',
 'Ireland',
 'Israel',
 'Italy',
 'Latvia',
 'Norway',
 'Poland',
 'Romania',
 'Slovenia',
 'Somalia',
 'Spain',
 'Sweden',
 'The Netherlands',
 'Turkey',
 'UK',
 'USA',
 'Ukraine']

# Create BTCs based on Country -> This code only work if the name for each country is one

In [ ]:
start = time.time()

identifier = "country"

mutant_text_1 = []
mutant_text_2 = []
prediction_1 = []
prediction_2 = []
identifier_1 = []
identifier_2 = []
template = []
original = []
for i in range(len(gb.size())) :
    data = gb.get_group(i)
    already_processed = []
    for index1, v1 in data.iterrows() :
        for index2, v2 in data.iterrows() :
            k1 = v1[identifier]
            k2 = v2[identifier]
            if k1 != k2 :
                k = k1 + "-" + k2
                if k1 > k2 :
                    k = k2 + "-" + k1
                if k not in already_processed :
                    already_processed.append(k)
                    p_1 = v1["prediction"]
                    p_2 = v2["prediction"]
                    if p_1 != p_2 :
                        mutant_text_1.append(v1["mutant"])
                        prediction_1.append(v1["prediction"])
                        identifier_1.append(k1)
                        mutant_text_2.append(v2["mutant"])
                        prediction_2.append(v2["prediction"])
                        identifier_2.append(k2)
                        template.append(v1["template"])
                        original.append(v1["original"])
                        

end = time.time()
print("Execution time: ", end-start)

In [ ]:
btc = pd.DataFrame(data={"mutant_1" : mutant_text_1, "mutant_2" : mutant_text_2, "prediction_1": prediction_1, "prediction_2" : prediction_2, "identifier_1": identifier_1, "identifier_2" : identifier_2, "template": template, "original": original})
btc