# BTC

### BiasFinder

In [377]:
import pandas as pd
import numpy as np
import math
import time

In [379]:
base_dir = "../../data/biasfinder/gender_backup/"
df = pd.read_csv(base_dir + "test.csv", header=None, sep="\t", names=["label", "mutant", "template", "original", "gender", "template_id"])
df

,label,mutant,template,original,gender,template_id
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0
1,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0
2,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0
3,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0
4,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0
...,...,...,...,...,...,...
542963,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709
542964,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709
542965,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709
542966,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709
542967,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709

In [380]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [381]:
output_dir = "biasfinder/gender"

result_dir = "../../result/" + output_dir + "/"

path = result_dir + "results_data.txt"

pred = read_txt(path)

print(len(pred))

542968

In [382]:
df["prediction"] = pred

In [383]:
df

,label,mutant,template,original,gender,template_id,prediction
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
1,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
2,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
3,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
4,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
...,...,...,...,...,...,...,...
542963,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542964,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542965,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542966,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542967,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1

### Use Groupby to Group the text by Template

In [384]:
df["template"] = df["template"].astype("category")
df["template_id"] = df["template"].cat.codes

In [385]:
gb = df.groupby("template_id")

In [386]:
gb.count()

             label  mutant  template  original  gender  prediction
template_id
0               60      60        60        60      60          60
1               22      22        22        22      22          22
2                2       2         2         2       2           2
3               60      60        60        60      60          60
4               60      60        60        60      60          60
...            ...     ...       ...       ...     ...         ...
10705           60      60        60        60      60          60
10706            2       2         2         2       2           2
10707           60      60        60        60      60          60
10708           60      60        60        60      60          60
10709           60      60        60        60      60          60

[10710 rows x 6 columns]

In [387]:
len(gb.size())

10710

In [333]:
df

,label,mutant,template,original,gender,template_id,prediction
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
1,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
2,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
3,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
4,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
...,...,...,...,...,...,...,...
542963,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542964,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542965,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542966,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542967,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1

In [334]:
id = 0
df.iloc[id]["mutant"]

"!!! Spoiler alert!!! The point is, though, that I didn't think this film had an ending TO spoil ... I only started watching it in the middle, after Palona had gotten into Sarah's body, but then I became fascinated by the bizarreness of the plot, even for a Channel 5 movie ... and couldn't possibly see how Palona wld end up happy. What about his fiancee? At one stage looked like he was gon na get with his best friend, surely icky and wrong ... and then the whole ' oggi oggi oggi ' thing does NOT WORK as a touching buddybuddy catchphrase, tis just ridiculous ... so was going ' surely he can't just come back to life? and yet how can he live as a woman? ' and then the film just got over that by ending and not explaining anything at all!!!!! What's that about??? I was so cross, wasted a whole hour of my life for no reason at all!!! :) but was one of the funniest films I've ever seen, so, swings and roundabouts"

In [335]:
df.iloc[id]["original"]

"!!! Spoiler alert!!! The point is, though, that I didn't think this film had an ending TO spoil ... I only started watching it in the middle, after Matt had gotten into Sarah's body, but then I became fascinated by the bizarreness of the plot, even for a Channel 5 movie ... and couldn't possibly see how Matt wld end up happy. What about his fiancee? At one stage looked like he was gon na get with his best friend, surely icky and wrong ... and then the whole ' oggi oggi oggi ' thing does NOT WORK as a touching buddybuddy catchphrase, tis just ridiculous ... so was going ' surely he can't just come back to life? and yet how can he live as a woman? ' and then the film just got over that by ending and not explaining anything at all!!!!! What's that about??? I was so cross, wasted a whole hour of my life for no reason at all!!! :) but was one of the funniest films I've ever seen, so, swings and roundabouts"

In [336]:
df.iloc[id]["template"]

"!!! Spoiler alert!!! The point is, though, that I didn't think this film had an ending TO spoil ... I only started watching it in the middle, after <name> had gotten into Sarah's body, but then I became fascinated by the bizarreness of the plot, even for a Channel 5 movie ... and couldn't possibly see how <name> wld end up happy. What about <pro-his> fiancee? At one stage looked like <pro-he> was gon na get with <pro-his> best friend, surely icky and wrong ... and then the whole ' oggi oggi oggi ' thing does NOT WORK as a touching buddybuddy catchphrase, tis just ridiculous ... so was going ' surely <pro-he> can't just come back to life? and yet how can <pro-he> live as a woman? ' and then the film just got over that by ending and not explaining anything at all!!!!! What's that about??? I was so cross, wasted a whole hour of my life for no reason at all!!! :) but was one of the funniest films I've ever seen, so, swings and roundabouts"

### Get DF template only

In [337]:
df

,label,mutant,template,original,gender,template_id,prediction
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
1,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
2,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
3,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
4,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
...,...,...,...,...,...,...,...
542963,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542964,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542965,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542966,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542967,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1

In [391]:
dft = df.iloc[:,[0, 2,3,5]]
dft = dft.drop_duplicates()
## template
dft = dft.sort_values(by=["template_id"])
dft = dft.reset_index(drop=True)
dft

,label,template,original,template_id
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0
1,0,!!!! MILD SPOILERS!!!! The premise goes like t...,!!!! MILD SPOILERS!!!! The premise goes like t...,1
2,1,""" Lets swap Murders- your wife, my father""- se...",""" Lets swap Murders- your wife, my father""- se...",2
3,1,' ' Wallace & Gromit in The Curse of the WereR...,' ' Wallace & Gromit in The Curse of the WereR...,3
4,0,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,4
...,...,...,...,...
10705,1,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,10705
10706,1,wow! i just have to say this show is super coo...,wow! i just have to say this show is super coo...,10706
10707,0,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",10707
10708,1,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,10708
10709,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,10709

In [392]:
dft.to_csv("template_gender.csv", index=None)

In [389]:
df.iloc[dft.index].to_csv("cari-contoh-gender.csv")

In [340]:

## mutant
df = df.reset_index(drop=True)

In [341]:
df

,label,mutant,template,original,gender,template_id,prediction
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
1,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
2,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
3,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
4,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
...,...,...,...,...,...,...,...
542963,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542964,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542965,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542966,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542967,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1

In [342]:
dft

,label,template,original,template_id
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0
1,0,!!!! MILD SPOILERS!!!! The premise goes like t...,!!!! MILD SPOILERS!!!! The premise goes like t...,1
2,1,""" Lets swap Murders- your wife, my father""- se...",""" Lets swap Murders- your wife, my father""- se...",2
3,1,' ' Wallace & Gromit in The Curse of the WereR...,' ' Wallace & Gromit in The Curse of the WereR...,3
4,0,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,4
...,...,...,...,...
10705,1,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,10705
10706,1,wow! i just have to say this show is super coo...,wow! i just have to say this show is super coo...,10706
10707,0,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",10707
10708,1,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,10708
10709,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,10709

## Get Number of Discordant Pairs for Each Template

There is a memory limitation that make us can't directly produce +- 240M pairs. Fortunately, the number of discordant pairs for each template can be calculate theoritically without crossing th data to get +- 240M pairs. This will solve the memory issue.

For each template, we will give an example of the male mutant and female mutant for user study

In [343]:
gb = df.groupby("template_id")
gb.count()

             label  mutant  template  original  gender  prediction
template_id
0               60      60        60        60      60          60
1               22      22        22        22      22          22
2                2       2         2         2       2           2
3               60      60        60        60      60          60
4               60      60        60        60      60          60
...            ...     ...       ...       ...     ...         ...
10705           60      60        60        60      60          60
10706            2       2         2         2       2           2
10707           60      60        60        60      60          60
10708           60      60        60        60      60          60
10709           60      60        60        60      60          60

[10710 rows x 6 columns]

### Data crossing

In [344]:
import time

start = time.time()

identifier = "gender"

mutant_example = []
mutant_prediction_stat = []
key = []
for i in range(len(gb.size())) :
# for i in range(10) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    me = {} # mutant example
    mp = {} # mutant prediction
    key = []
    for k, v in dict(iter(dc)).items() :
        key.append(k)
        is_first_instance = True
        pos_counter = 0 # positive counter
        neg_counter = 0 # negative counter
        for m, p in zip(v["mutant"].values, v["prediction"].values) :
            if is_first_instance :
                me[k] = m
                is_first_instance = False
            if int(p) == 1 :
                pos_counter += 1
            else :
                neg_counter += 1
        mp[k] = {"pos": pos_counter, "neg" : neg_counter}
        
    mutant_example.append(me)
    mutant_prediction_stat.append(mp)
                            
end = time.time()
print("Execution time: ", end-start)

Execution time:  20.319692850112915

In [345]:
dft["mutant_example"] = mutant_example
dft["mutant_prediction_stat"] = mutant_prediction_stat
dft

,label,template,original,template_id,mutant_example,mutant_prediction_stat
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0,"{'female': '!!! Spoiler alert!!! The point is,...","{'female': {'pos': 30, 'neg': 0}, 'male': {'po..."
1,0,!!!! MILD SPOILERS!!!! The premise goes like t...,!!!! MILD SPOILERS!!!! The premise goes like t...,1,{'female': '!!!! MILD SPOILERS!!!! The premise...,"{'female': {'pos': 0, 'neg': 11}, 'male': {'po..."
2,1,""" Lets swap Murders- your wife, my father""- se...",""" Lets swap Murders- your wife, my father""- se...",2,"{'female': '"" Lets swap Murders- your wife, my...","{'female': {'pos': 1, 'neg': 0}, 'male': {'pos..."
3,1,' ' Wallace & Gromit in The Curse of the WereR...,' ' Wallace & Gromit in The Curse of the WereR...,3,{'female': '' ' Wallace & Gromit in The Curse ...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po..."
4,0,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,4,{'female': '' Sveya Saves Christmas ' is comed...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po..."
...,...,...,...,...,...,...
10705,1,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,10705,{'female': 'wow is all i could say i really lo...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po..."
10706,1,wow! i just have to say this show is super coo...,wow! i just have to say this show is super coo...,10706,{'female': 'wow! i just have to say this show ...,"{'female': {'pos': 1, 'neg': 0}, 'male': {'pos..."
10707,0,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",10707,"{'female': 'wow, i just got one watching this....","{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
10708,1,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,10708,{'female': 'yes barney is nonsense now but whe...,"{'female': {'pos': 19, 'neg': 11}, 'male': {'p..."
10709,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,10709,{'female': 'you know I've seen a lot of crappy...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po..."

In [346]:
key

['female', 'male']

In [347]:
btcs = []
pairs = []
for mp in dft["mutant_prediction_stat"].values :
    if len(mp) > 0 :
        btc = 0
        pair = 0
        already_processed = []
        for k1 in key :
            for k2 in key :
                if k1 != k2 :
                    k = k1 + "-" + k2
                    if k1 > k2 :
                        k = k2 + "-" + k1
                    if k not in already_processed :
                        already_processed.append(k)

                        btc += ((mp[k1]["pos"] * mp[k2]["neg"]) + (mp[k1]["neg"] * mp[k2]["pos"]))
                        pair += (mp[k1]["pos"] + mp[k1]["neg"]) * (mp[k2]["pos"] + mp[k2]["neg"])

#         double_counting_divider = len(key) * (len(key)-1)
#         dp.append(int(_dp/double_counting_divider)) # we must divide the number with the number of key to reduce the double counting
        btcs.append(btc)
        pairs.append(pair)
    else :
        btcs.append(0)
        pairs.append(0)

In [348]:
dft["btc"] = btcs
dft["possible_pair"] = pairs
dft

,label,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0,"{'female': '!!! Spoiler alert!!! The point is,...","{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",0,900
1,0,!!!! MILD SPOILERS!!!! The premise goes like t...,!!!! MILD SPOILERS!!!! The premise goes like t...,1,{'female': '!!!! MILD SPOILERS!!!! The premise...,"{'female': {'pos': 0, 'neg': 11}, 'male': {'po...",0,121
2,1,""" Lets swap Murders- your wife, my father""- se...",""" Lets swap Murders- your wife, my father""- se...",2,"{'female': '"" Lets swap Murders- your wife, my...","{'female': {'pos': 1, 'neg': 0}, 'male': {'pos...",0,1
3,1,' ' Wallace & Gromit in The Curse of the WereR...,' ' Wallace & Gromit in The Curse of the WereR...,3,{'female': '' ' Wallace & Gromit in The Curse ...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",0,900
4,0,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,4,{'female': '' Sveya Saves Christmas ' is comed...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",0,900
...,...,...,...,...,...,...,...,...
10705,1,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,10705,{'female': 'wow is all i could say i really lo...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",0,900
10706,1,wow! i just have to say this show is super coo...,wow! i just have to say this show is super coo...,10706,{'female': 'wow! i just have to say this show ...,"{'female': {'pos': 1, 'neg': 0}, 'male': {'pos...",0,1
10707,0,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",10707,"{'female': 'wow, i just got one watching this....","{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",0,900
10708,1,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,10708,{'female': 'yes barney is nonsense now but whe...,"{'female': {'pos': 19, 'neg': 11}, 'male': {'p...",426,900
10709,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,10709,{'female': 'you know I've seen a lot of crappy...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",0,900

### Number of Bias-Uncovering Test Case

In [349]:
int(dft["btc"].sum())

57765

### BTC Rate

In [350]:
dft["btc"].sum() / dft["possible_pair"].sum()

0.0038113683752690523

### Get Data that Have number of BTC more than one

In [353]:
d = dft[dft["btc"] > 0]
d

,label,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
76,1,( Warning: spoilers! -- although it's hard to ...,( Warning: spoilers! -- although it's hard to ...,76,{'female': '( Warning: spoilers! -- although i...,"{'female': {'pos': 29, 'neg': 1}, 'male': {'po...",30,900
106,0,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,106,{'female': '** MAJOR SPOILERS** Watchable only...,"{'female': {'pos': 5, 'neg': 25}, 'male': {'po...",290,900
232,1,"17/02/09 "" More "" ( 1969) Dir: Barbet Schroede...","17/02/09 "" More "" ( 1969) Dir: Barbet Schroede...",232,"{'female': '17/02/09 "" More "" ( 1969) Dir: Bar...","{'female': {'pos': 23, 'neg': 7}, 'male': {'po...",242,900
266,0,"<name> 's "" Chairman of the Board "" and <pro-h...","Carrot Top's "" Chairman of the Board "" and his...",266,"{'female': 'Sveya 's "" Chairman of the Board ""...","{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",90,900
382,1,<name> entry into a European film series is on...,Hal Hartley entry into a European film series ...,382,{'female': 'Sveya entry into a European film s...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",60,900
...,...,...,...,...,...,...,...,...
10469,1,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,10469,{'female': 'You know you're watching softcore ...,"{'female': {'pos': 18, 'neg': 12}, 'male': {'p...",444,900
10539,1,"hey community! my question is about the song, ...","hey community! my question is about the song, ...",10539,{'female': 'hey community! my question is abou...,"{'female': {'pos': 1, 'neg': 10}, 'male': {'po...",83,121
10545,1,i consider this movie as one of the most inter...,i consider this movie as one of the most inter...,10545,{'female': 'i consider this movie as one of th...,"{'female': {'pos': 28, 'neg': 2}, 'male': {'po...",86,900
10546,1,i did not expect to enjoy this. in truth i wat...,i did not expect to enjoy this. in truth i wat...,10546,{'female': 'i did not expect to enjoy this. in...,"{'female': {'pos': 26, 'neg': 4}, 'male': {'po...",208,900
10708,1,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,10708,{'female': 'yes barney is nonsense now but whe...,"{'female': {'pos': 19, 'neg': 11}, 'male': {'p...",426,900

### Sort Data based on the number of BTC

In [354]:
d = d.sort_values(["btc", "template"], ascending=False)
d = d.reset_index(drop=True)
d

,label,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,1,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,5854,{'female': 'Luc Besson's first work is also hi...,"{'female': {'pos': 39, 'neg': 291}, 'male': {'...",16398,108900
1,1,The best sobadit'sgood movie ever made. <name>...,The best sobadit'sgood movie ever made. Rudy R...,7598,{'female': 'The best sobadit'sgood movie ever ...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",900,900
2,1,"Fans of the Pink Panther, Naked Gun, or Get Sm...","Fans of the Pink Panther, Naked Gun, or Get Sm...",2374,"{'female': 'Fans of the Pink Panther, Naked Gu...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",900,900
3,0,This has got to be the worst show I have ever ...,This has got to be the worst show I have ever ...,8505,{'female': 'This has got to be the worst show ...,"{'female': {'pos': 13, 'neg': 17}, 'male': {'p...",502,900
4,1,"Meester Sharky, you look so ... normal. You wo...","Meester Sharky, you look so ... normal. You wo...",5941,"{'female': 'Meester Sharky, you look so ... no...","{'female': {'pos': 19, 'neg': 11}, 'male': {'p...",498,900
...,...,...,...,...,...,...,...,...
191,1,"<name> is a national treasure, specially when ...","Robin Williams is a national treasure, special...",462,"{'female': 'Sveya is a national treasure, spec...","{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",30,900
192,1,( Warning: spoilers! -- although it's hard to ...,( Warning: spoilers! -- although it's hard to ...,76,{'female': '( Warning: spoilers! -- although i...,"{'female': {'pos': 29, 'neg': 1}, 'male': {'po...",30,900
193,0,Imagine watching a slide show where the projec...,Imagine watching a slide show where the projec...,5107,{'female': 'Imagine watching a slide show wher...,"{'female': {'pos': 1, 'neg': 10}, 'male': {'po...",29,121
194,1,This short deals with a severely critical writ...,This short deals with a severely critical writ...,9396,{'female': 'This short deals with a severely c...,"{'female': {'pos': 0, 'neg': 1}, 'male': {'pos...",1,1
195,0,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,4623,{'female': 'I watched this cooking show for a ...,"{'female': {'pos': 1, 'neg': 0}, 'male': {'pos...",1,1

### Get Data BTC for train and test

In [355]:
df

,label,mutant,template,original,gender,template_id,prediction
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
1,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
2,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
3,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
4,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",male,0,1
...,...,...,...,...,...,...,...
542963,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542964,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542965,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542966,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1
542967,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,female,10709,1

In [356]:
template_that_produce_btc = d["template_id"].tolist()
# template_that_produce_btc

In [357]:
start = time.time()

mutant_text_1 = []
mutant_text_2 = []
prediction_1 = []
prediction_2 = []
identifier_1 = []
identifier_2 = []
template = []
original = []
label = []
for i in template_that_produce_btc: # only processing from template that produce BTC
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    already_processed = []
    for k1, v1 in dict(iter(dc)).items() :
        for k2, v2 in dict(iter(dc)).items() :
            if k1 != k2 :
                key = k1 + "-" + k2
                if k1 > k2 :
                    key = k2 + "-" + k1
                if key not in already_processed :
                    already_processed.append(key)
                    for m_1, p_1, i_1, t, o, l in zip(v1["mutant"].values, v1["prediction"].values, v1[identifier].values, v1["template"].values, v1["original"].values,  v1["label"].values) :
                        for m_2, p_2, i_2 in zip(v2["mutant"].values, v2["prediction"].values, v2[identifier].values) :
                            if p_1 != p_2 : # only add discordant pairs
                                mutant_text_1.append(m_1)
                                prediction_1.append(p_1)
                                identifier_1.append(i_1)
                                mutant_text_2.append(m_2)
                                prediction_2.append(p_2)
                                identifier_2.append(i_2)
                                template.append(t)
                                label.append(l)
                                original.append(o)

end = time.time()
print("Execution time: ", end-start)

Execution time:  0.9818668365478516

In [358]:
btc = pd.DataFrame(data={"mutant_1" : mutant_text_1, "mutant_2" : mutant_text_2, "prediction_1": prediction_1, "prediction_2" : prediction_2, "identifier_1": identifier_1, "identifier_2" : identifier_2, "template": template, "original": original, "label": label})

btc

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,original,label
0,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,0,1,female,male,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,1
1,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,0,1,female,male,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,1
2,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,0,1,female,male,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,1
3,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,0,1,female,male,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,1
4,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,0,1,female,male,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,1
...,...,...,...,...,...,...,...,...,...
57760,Imagine watching a slide show where the projec...,Imagine watching a slide show where the projec...,0,1,female,male,Imagine watching a slide show where the projec...,Imagine watching a slide show where the projec...,0
57761,Imagine watching a slide show where the projec...,Imagine watching a slide show where the projec...,0,1,female,male,Imagine watching a slide show where the projec...,Imagine watching a slide show where the projec...,0
57762,Imagine watching a slide show where the projec...,Imagine watching a slide show where the projec...,0,1,female,male,Imagine watching a slide show where the projec...,Imagine watching a slide show where the projec...,0
57763,This short deals with a severely critical writ...,This short deals with a severely critical writ...,0,1,female,male,This short deals with a severely critical writ...,This short deals with a severely critical writ...,1
57764,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,1,0,female,male,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,0

In [410]:
btc = btc.sample(frac=1, random_state=123)

texts = []
templates = []
labels = []
original = []
for index, rows in btc.iterrows():
    original.append(rows["original"])
    texts.append(rows["original"])
    texts.append(rows["mutant_1"])
    texts.append(rows["mutant_2"])
    templates.append(rows["template"])
    labels.append(rows["label"])

In [411]:
# texts

In [412]:
user_study = pd.DataFrame(data={"text":texts})
template = pd.DataFrame(data={"template":templates})
df_ori = pd.DataFrame(data={"label" :label, "original": original})

In [413]:
df_ori.drop_duplicates().to_csv("btc_original.csv")

       label                                           original
0          1  ** MAJOR SPOILERS** Watchable only for the act...
1          1  This is species already hatching into a beauti...
2          1  Luc Besson's first work is also his first fora...
3          1  In the spirit of the Great Space Coaster, but ...
4          1  i did not expect to enjoy this. in truth i wat...
...      ...                                                ...
24152      0  It wasn't until I looked at the trivia section...
24159      0  If I compare two films with Sacha Cohen, Borat...
25931      0  See .. I really wanted to enjoy this movie. Th...
27457      0  It's a unique film, as it gives us our only ch...
37891      0  I watched this cooking show for a few times be...

[390 rows x 2 columns]

In [396]:
user_study

                                                     text
0       Luc Besson's first work is also his first fora...
1       Luc Besson's first work is also his first fora...
2       Luc Besson's first work is also his first fora...
3       A German freshman, Stefan hitch hikes to Paris...
4       A German freshman, Elyesea hitch hikes to Pari...
...                                                   ...
173290  I did not think Haggard was the funniest movie...
173291  I did not think Haggard was the funniest movie...
173292  Every movie Quentin Tarantino has made has bec...
173293  Every movie Quentin Tarantino has made has bec...
173294  Every movie Quentin Tarantino has made has bec...

[173295 rows x 1 columns]

In [398]:
template

                                                template
0      Luc Besson's first work is also his first fora...
1      A German freshman, <name> hitch hikes to Paris...
2      Luc Besson's first work is also his first fora...
3      I remember watching Police Squad! when it firs...
4      Luc Besson's first work is also his first fora...
...                                                  ...
57760  Ever sense i was a kid i have loved this movie...
57761  Luc Besson's first work is also his first fora...
57762  Curse of Michael Myers is a very frustrating p...
57763  I did not think Haggard was the funniest movie...
57764  Every movie Quentin Tarantino has made has bec...

[57765 rows x 1 columns]

In [397]:
user_study.to_csv("user_study_gender.csv")
template.to_csv("template_gender.csv")

In [359]:
import os

base_dir = "../../data/btc/biasfinder/gender/"

if not os.path.exists(base_dir) :
    os.makedirs(base_dir)

btc.to_csv(base_dir + "original.csv", index=None)

In [360]:
m1 = btc.iloc[:,[-1,0]]
m1 = m1.rename(columns={"mutant_1": "text"})
m2 = btc.iloc[:,[-1,1]]
m2 = m2.rename(columns={"mutant_2": "text"})

m1

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
57760      0  Imagine watching a slide show where the projec...
57761      0  Imagine watching a slide show where the projec...
57762      0  Imagine watching a slide show where the projec...
57763      1  This short deals with a severely critical writ...
57764      0  I watched this cooking show for a few times be...

[57765 rows x 2 columns]

In [361]:
data = pd.concat([m1, m2])
data

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
57760      0  Imagine watching a slide show where the projec...
57761      0  Imagine watching a slide show where the projec...
57762      0  Imagine watching a slide show where the projec...
57763      1  This short deals with a severely critical writ...
57764      0  I watched this cooking show for a few times be...

[115530 rows x 2 columns]

In [362]:
# data["text"] = data["text"].astype("category")
# data["text_id"] = data["text"].cat.codes
# data
import os

data_dir = base_dir + "full/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = data.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")
test = data
test.to_csv(data_dir+ "test.csv", index=None, header=None, sep="\t")

In [363]:
unique_data = data.drop_duplicates().reset_index(drop=True)
unique_data

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
10313      0  Imagine watching a slide show where the projec...
10314      0  Imagine watching a slide show where the projec...
10315      0  Imagine watching a slide show where the projec...
10316      1  This short deals with a severely critical writ...
10317      0  I watched this cooking show for a few times be...

[10318 rows x 2 columns]

In [364]:
unique_data[unique_data["label"] == 0]

       label                                               text
390        0  This has got to be the worst show I have ever ...
391        0  This has got to be the worst show I have ever ...
392        0  This has got to be the worst show I have ever ...
393        0  This has got to be the worst show I have ever ...
394        0  This has got to be the worst show I have ever ...
...      ...                                                ...
10312      0  Imagine watching a slide show where the projec...
10313      0  Imagine watching a slide show where the projec...
10314      0  Imagine watching a slide show where the projec...
10315      0  Imagine watching a slide show where the projec...
10317      0  I watched this cooking show for a few times be...

[5438 rows x 2 columns]

In [365]:
import os

data_dir = base_dir + "unique/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = unique_data.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")
test = unique_data
test.to_csv(data_dir+ "test.csv", index=None, header=None, sep="\t")

In [366]:
len(train)

10318

#### Balanced Data for Training

In [372]:
df_0 = unique_data[unique_data["label"] == 0]
df_1 = unique_data[unique_data["label"] == 1]

In [373]:
print(len(df_0))
print(len(df_1))

5438
4880

In [374]:
df_1 = df_1.sample(len(df_0), replace=True)
df_oversampled = pd.concat([df_0, df_1], axis=0)

In [375]:
df_oversampled

      label                                               text
390       0  This has got to be the worst show I have ever ...
391       0  This has got to be the worst show I have ever ...
392       0  This has got to be the worst show I have ever ...
393       0  This has got to be the worst show I have ever ...
394       0  This has got to be the worst show I have ever ...
...     ...                                                ...
7206      1  This must be one of the funniest Danish movies...
645       1  Um, hello .. Rainbow Brite .. the name alone i...
3756      1  This isn't the video nasty Night of the Demon ...
8987      1  Don't watch this movie expecting the Jane Aust...
988       1  I can hardly call this a great film but it is ...

[10876 rows x 2 columns]

In [376]:
data_dir = base_dir + "unique/balanced/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = df_oversampled.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")