In [13]:
import pandas as pd

In [14]:
imdb = pd.read_csv("../../data/imdb/train.csv", header=None, sep="\t", names=["label", "mutant"])
imdb

       label                                             mutant
0          1  Well, if you are looking for a great mind cont...
1          1  I had the privilege of watching Scarface on th...
2          0  That's a snippet of choice dialogue delivered ...
3          0  Predictable, told a thousand times story with ...
4          0  This is the worst movie ever made. The acting,...
...      ...                                                ...
24995      0  Horrible ending - and I can't believe Moore sp...
24996      0  If ever there was a film that deserved a big f...
24997      0  Medellin is a fabulous place to live, work, an...
24998      1  The first time I had the window of opportunity...
24999      1  Smallville episode Justice is the best episode...

[25000 rows x 2 columns]

# Augment with IMDB

In [15]:
import os

base_dir = "../../data/btc/biasfinder/gender/full/"

biasfinder = pd.read_csv(base_dir + "train.csv",sep="\t", names=["label", "mutant"])
biasfinder

        label                                             mutant
0           1  In the spirit of the Great Space Coaster, but ...
1           0  This movie didn't do it for me, an avid SNL fa...
2           1  yes barney is nonsense now but when i was a ki...
3           0  The Box is a film with great potential, but th...
4           1  I thought this movie was really good. It ends ...
...       ...                                                ...
115525      1  Luc Besson's first work is also his first fora...
115526      1  Luc Besson's first work is also his first fora...
115527      1  Fans of the Pink Panther, Naked Gun, or Get Sm...
115528      1  Pitch Black is a survival story. It's about ho...
115529      1  Luc Besson's first work is also his first fora...

[115530 rows x 2 columns]

In [16]:
augmented_imdb_biasfinder = pd.concat([imdb, biasfinder])
augmented_imdb_biasfinder = augmented_imdb_biasfinder.sample(frac=1, random_state=123)
augmented_imdb_biasfinder

        label                                             mutant
2641        0  I thought Choke had potential, but I thought i...
33614       1  Luc Besson's first work is also his first fora...
105752      0  It pains me to see an awesome movie turn into ...
108054      1  Luc Besson's first work is also his first fora...
12883       0  Ocean's Twelve: just plain stupid, bad and not...
...       ...                                                ...
104130      0  I hate it when people in the movie theater tal...
94906       1  Luc Besson's first work is also his first fora...
17730       0  I can sit through this movie once, but I doubt...
3030        1  Luc Besson's first work is also his first fora...
15725       1  In the year 1985 (my birth year) Steven Spielb...

[140530 rows x 2 columns]

In [17]:
augmented_imdb_biasfinder.to_csv("../../data/augmented/imdb_full_biasfinder/train.csv", index=None, header=None, sep="\t")

# Augment with EEC

In [18]:
import os

base_dir = "../../data/btc/eec/gender/full/"

eec = pd.read_csv(base_dir + "train.csv", header=None, sep="\t", names=["label", "mutant", "text_id"])
eec = eec.drop(columns=["text_id"])
eec

       label                                             mutant
0          0          The conversation with Roger was shocking.
1          0                          My wife feels devastated.
2          0     The conversation with Nichelle was depressing.
3          0                          Courtney feels terrified.
4          0                   I made my father feel terrified.
...      ...                                                ...
33731      0       The situation makes Heather feel devastated.
33732      0          The situation makes Jasmine feel enraged.
33733      0      Adam found himself in a depressing situation.
33734      0  Alphonse found himself in a displeasing situat...
33735      0   My girlfriend found herself in a grim situation.

[33736 rows x 2 columns]

In [19]:
augmented_imdb_eec = pd.concat([imdb, eec])
augmented_imdb_eec = augmented_imdb_eec.sample(frac=1, random_state=123)
augmented_imdb_eec

       label                                             mutant
5932       0  This movie was one of the worst I've ever seen...
12816      0  the lowest score possible is one star? that's ...
2335       1  This is a great short. i think every voice is ...
10360      0                            Alphonse feels anxious.
7698       0  Lindsay Anderson was very much a European film...
...      ...                                                ...
29370      0  Torrance found himself in a threatening situat...
17730      0  I can sit through this movie once, but I doubt...
3030       0                             My aunt feels fearful.
15725      1  In the year 1985 (my birth year) Steven Spielb...
27734      0       Lakisha found herself in a gloomy situation.

[58736 rows x 2 columns]

In [20]:
augmented_imdb_eec.to_csv("../../data/augmented/imdb_full_eec/train.csv", index=None, header=None, sep="\t")