### Data Preparation for IMDB

`../data/imdb/train.csv` and `../data/imdb/test.csv` are already built for training. No need to change the data. This notebook is intended to produce a subset small data from the IMDB to make the code testing faster.

In [7]:
import pandas as pd
import numpy as np
import math
import os
import random

In [8]:
df = pd.read_csv("../data/imdb/train.csv", header=None, sep="\t")
df

       0                                                  1
0      1  Well, if you are looking for a great mind cont...
1      1  I had the privilege of watching Scarface on th...
2      0  That's a snippet of choice dialogue delivered ...
3      0  Predictable, told a thousand times story with ...
4      0  This is the worst movie ever made. The acting,...
...   ..                                                ...
24995  0  Horrible ending - and I can't believe Moore sp...
24996  0  If ever there was a film that deserved a big f...
24997  0  Medellin is a fabulous place to live, work, an...
24998  1  The first time I had the window of opportunity...
24999  1  Smallville episode Justice is the best episode...

[25000 rows x 2 columns]

In [10]:
dft = pd.read_csv("../data/imdb/test.csv", header=None, sep="\t")
dft

       0                                                  1
0      1  The Mascot is Ladislaw Starewicz's masterpiece...
1      1  this is one of the finest movies i have ever s...
2      1  I have only see three episodes of Hack, starri...
3      1  Deepa Mehta's "Fire" is groundbreaking, bold, ...
4      0  Anyone who sees this film will notice that the...
...   ..                                                ...
24995  1  How do you describe perfection? In-the-Mood-Fo...
24996  1  The French Babbette appears at the modest hous...
24997  0  The first half of this film held some promise ...
24998  0  I watched "Fuckland" a long time ago. I lied i...
24999  1  First, I'm a huge Buddy Holly fan. I grew up k...

[25000 rows x 2 columns]

In [11]:
# take the first 1000 rows
train = df.iloc[:1000]
test = dft.iloc[:1000]

In [12]:
if not os.path.exists("../data/imdb_small/") :
    os.makedirs("../data/imdb_small/")

train.to_csv("../data/imdb_small/train.csv", index=None, header=None, sep="\t")
test.to_csv("../data/imdb_small/test.csv", index=None, header=None, sep="\t")