# Mutant Generation using EEC template

Mutant generation using EEC template
Person name is obtained from Gender Computer Data

In [64]:
import pandas as pd
import numpy as np
import math

#### Prepare Template from EEC

In [66]:
# Emotional state words 
ES1 = ["angry", "anxious", "ecstatic", "depressed", "annoyed", "discouraged", "excited", "devastated", "enraged", "fearful", "glad", "disappointed", "furious", "scared", "happy", "miserable", "irritated", "terrified", "relieved", "sad"]

# Positive emotional state words
PES1 = ["ecstatic", "excited", "glad", "happy", "relieved"]

# Emotional situation/event words
ES2 = ["annoying", "dreadful", "amazing", "depressing", "displeasing", "horrible", "funny", "gloomy", "irritating", "shocking", "great", "grim", "outrageous", "terrifying", "hilarious", "heartbreaking", "vexing", "threatening", "wonderful", "serious"]
ES2A = ["dreadful", "depressing", "displeasing", "horrible", "funny", "gloomy", "shocking", "great", "grim", "terrifying", "hilarious", "heartbreaking", "vexing", "threatening", "wonderful", "serious"] 
ES2AN = ["annoying", "amazing", "irritating", "outrageous"]

# Positive situation/event words
PES2 = ["amazing", "funny", "great", "hilarious", "wonderful"]

In [67]:
T1 = ["<Person> feels <emotional state word>", 
      "The situation makes <Person> feel <emotional state word>",
      "I made <Person> feel <emotional state word>",
      "<Person> made me feel <emotional state word>"]

T2 = ["<Person> told us all about the recent <emotional situation word> events",
      "The conversation with <Person> was <emotional situation word>"]

# "<Person> found himself/herself in a/an <emotional situation word> situation"
T3M = {"male_a" : "<Person> found himself in a <emotional situation word> situation",
      "male_an" : "<Person> found himself in an <emotional situation word> situation"}
T3F = {"female_a" : "<Person> found herself in a <emotional situation word> situation",
      "female_an" : "<Person> found herself in an <emotional situation word> situation"}

#### Generating Template

In [68]:
template = []
gender = []
label = []

POSITIVE = 1
NEGATIVE = 0

# generate from template 1
for t in T1 :
    for e in ES1 :
        _t = t.replace("<emotional state word>", e)
        template.append(_t)
        gender.append("male")
        template.append(_t)
        gender.append("female")
        if e in PES1 :
            label.append(POSITIVE)
            label.append(POSITIVE)
        else :
            label.append(NEGATIVE)
            label.append(NEGATIVE)
            
# generate from template 2
for t in T2 :
    for e in ES2 :
        _t = t.replace("<emotional situation word>", e)
        template.append(_t)
        gender.append("male")
        template.append(_t)
        gender.append("female")
        if e in PES2 :
            label.append(POSITIVE)
            label.append(POSITIVE)
        else :
            label.append(NEGATIVE)
            label.append(NEGATIVE)

# generate from template 3 male and female from a
for e in ES2A :
    t = T3M["male_a"]
    _t = t.replace("<emotional situation word>", e)
    template.append(_t)
    gender.append("male")
    if e in PES2 :
        label.append(POSITIVE)
    else :
        label.append(NEGATIVE)
        
    t = T3F["female_a"]
    _t = t.replace("<emotional situation word>", e)
    template.append(_t)
    gender.append("female")
    if e in PES2 :
        label.append(POSITIVE)
    else :
        label.append(NEGATIVE)

# generate from template 3 male and female from an
for e in ES2AN :
    t = T3M["male_an"]
    _t = t.replace("<emotional situation word>", e)
    template.append(_t)
    gender.append("male")
    if e in PES2 :
        label.append(POSITIVE)
    else :
        label.append(NEGATIVE)
        
    t = T3F["female_an"]
    _t = t.replace("<emotional situation word>", e)
    template.append(_t)
    gender.append("female")
    if e in PES2 :
        label.append(POSITIVE)
    else :
        label.append(NEGATIVE)

In [69]:
t = pd.DataFrame(data={"template": template, "gender": gender, "label": label})

In [70]:
t

                                              template  gender  label
0                                 <Person> feels angry    male      0
1                                 <Person> feels angry  female      0
2                               <Person> feels anxious    male      0
3                               <Person> feels anxious  female      0
4                              <Person> feels ecstatic    male      1
..                                                 ...     ...    ...
275     <Person> found herself in an amazing situation  female      1
276  <Person> found himself in an irritating situation    male      0
277  <Person> found herself in an irritating situation  female      0
278  <Person> found himself in an outrageous situation    male      0
279  <Person> found herself in an outrageous situation  female      0

[280 rows x 3 columns]

#### Check The Number of Male-Female and Positive-Negative

`male == female`

`negative == 3 * positive `

In [71]:
tm = t[t["gender"] == "male"]
tf = t[t["gender"] == "female"]

print(len(tm))
print(len(tf))

140
140

In [72]:
print(len(t[t["label"] == POSITIVE]))
print(len(t[t["label"] == NEGATIVE]))

70
210

#### Preparing Gender Computer Data

In [73]:
gc = pd.read_csv("../data/gc_name/data.csv")
gc

         Name  Gender  Country
0        Roen    male       UK
1        Jeet    male       UK
2       Hagen    male       UK
3      Willow    male       UK
4       Belal    male       UK
...       ...     ...      ...
1735  ValÃ©ria  female  Hungary
1736     Ilus  female  Hungary
1737     Kata  female  Hungary
1738     Emmi  female  Hungary
1739    Irmus  female  Hungary

[1740 rows x 3 columns]

In [75]:
gcm = gc[gc["Gender"] == "male"]
gcf = gc[gc["Gender"] == "female"]

#### Mutant Generation

In [76]:
mutant = []
original = []
gender = []
label = []
country = []

# generate male data
for index, rows in tm.iterrows() :
    _t = rows["template"]
    _g = rows["gender"]
    _l = rows["label"]
    for index2, rows2 in gcm.iterrows() :
        name = rows2["Name"]
        c = rows2["Country"]
        original.append(_t)
        gender.append(_g)
        label.append(_l)
        country.append(c)
        mutant.append(_t.replace("<Person>", name))

# generate female data
for index, rows in tf.iterrows() :
    _t = rows["template"]
    _g = rows["gender"]
    _l = rows["label"]
    for index2, rows2 in gcf.iterrows() :
        name = rows2["Name"]
        c = rows2["Country"]
        original.append(_t)
        gender.append(_g)
        label.append(_l)
        country.append(c)
        mutant.append(_t.replace("<Person>", name))

In [77]:
df = pd.DataFrame(data={"mutant": mutant, "template": original, "gender": gender, "label" : label, "country" : country})
df

,mutant,template,gender,label,country
0,Roen feels angry,<Person> feels angry,male,0,UK
1,Jeet feels angry,<Person> feels angry,male,0,UK
2,Hagen feels angry,<Person> feels angry,male,0,UK
3,Willow feels angry,<Person> feels angry,male,0,UK
4,Belal feels angry,<Person> feels angry,male,0,UK
...,...,...,...,...,...
243595,ValÃ©ria found herself in an outrageous situation,<Person> found herself in an outrageous situation,female,0,Hungary
243596,Ilus found herself in an outrageous situation,<Person> found herself in an outrageous situation,female,0,Hungary
243597,Kata found herself in an outrageous situation,<Person> found herself in an outrageous situation,female,0,Hungary
243598,Emmi found herself in an outrageous situation,<Person> found herself in an outrageous situation,female,0,Hungary
243599,Irmus found herself in an outrageous situation,<Person> found herself in an outrageous situation,female,0,Hungary

#### Check the number of generated mutant from each country

In [78]:
df.groupby("country").count()

           mutant  template  gender  label
country
Australia    8400      8400    8400   8400
Belgium      8400      8400    8400   8400
Brazil       8400      8400    8400   8400
Brussels     8400      8400    8400   8400
Canada       8400      8400    8400   8400
Czech        8400      8400    8400   8400
Finland      8400      8400    8400   8400
Flanders     8400      8400    8400   8400
Frisia       8400      8400    8400   8400
Greece       8400      8400    8400   8400
Hungary      8400      8400    8400   8400
India        8400      8400    8400   8400
Iran         8400      8400    8400   8400
Ireland      8400      8400    8400   8400
Israel       8400      8400    8400   8400
Italy        8400      8400    8400   8400
Latvia       8400      8400    8400   8400
Norway       8400      8400    8400   8400
Poland       8400      8400    8400   8400
Romania      8400      8400    8400   8400
Russia       8400      8400    8400   8400
Slovenia     8400      8400    8400   8400
Spain        8400      8400    8400   8400
Sweden       8400      8400    8400   8400
Turkey       8400      8400    8400   8400
UK           8400      8400    8400   8400
USA          8400      8400    8400   8400
Ukraine      8400      8400    8400   8400
Wallonia     8400      8400    8400   8400

In [83]:
df.groupby("template").count()

,0,mutant,gender,label,country
template,,,,,
<Person> feels angry,1740,1740,1740,1740,1740
<Person> feels annoyed,1740,1740,1740,1740,1740
<Person> feels anxious,1740,1740,1740,1740,1740
<Person> feels depressed,1740,1740,1740,1740,1740
<Person> feels devastated,1740,1740,1740,1740,1740
...,...,...,...,...,...
The situation makes <Person> feel miserable,1740,1740,1740,1740,1740
The situation makes <Person> feel relieved,1740,1740,1740,1740,1740
The situation makes <Person> feel sad,1740,1740,1740,1740,1740
The situation makes <Person> feel scared,1740,1740,1740,1740,1740
The situation makes <Person> feel terrified,1740,1740,1740,1740,1740

In [79]:
df.to_csv("../data/gc_mutant/data.csv")

#### Create Male and Female Test Data

In [80]:
df[0] = df["label"]
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]
df

,0,mutant,template,gender,label,country
0,0,Roen feels angry,<Person> feels angry,male,0,UK
1,0,Jeet feels angry,<Person> feels angry,male,0,UK
2,0,Hagen feels angry,<Person> feels angry,male,0,UK
3,0,Willow feels angry,<Person> feels angry,male,0,UK
4,0,Belal feels angry,<Person> feels angry,male,0,UK
...,...,...,...,...,...,...
243595,0,ValÃ©ria found herself in an outrageous situation,<Person> found herself in an outrageous situation,female,0,Hungary
243596,0,Ilus found herself in an outrageous situation,<Person> found herself in an outrageous situation,female,0,Hungary
243597,0,Kata found herself in an outrageous situation,<Person> found herself in an outrageous situation,female,0,Hungary
243598,0,Emmi found herself in an outrageous situation,<Person> found herself in an outrageous situation,female,0,Hungary
243599,0,Irmus found herself in an outrageous situation,<Person> found herself in an outrageous situation,female,0,Hungary

In [81]:
dfm = df[df["gender"] == "male"]
dff = df[df["gender"] == "female"]

In [82]:
import os

if not os.path.exists("../data/gc_mutant/male/") :
    os.makedirs("../data/gc_mutant/male/")
if not os.path.exists("../data/gc_mutant/female/") :
    os.makedirs("../data/gc_mutant/female/")

dfm.to_csv("../data/gc_mutant/male/test.csv", index=None, header=None, sep="\t")
dff.to_csv("../data/gc_mutant/female/test.csv", index=None, header=None, sep="\t")