# Mutant Generation using EEC template

Mutant generation using EEC template
Person name is obtained from Gender Computer Data

In [1]:
import pandas as pd
import numpy as np
import math

#### Read Name Data

In [4]:
names = pd.read_csv("../data/gc_name/data.csv")
names

        Name  Gender  Country
0       Roen    male       UK
1       Jeet    male       UK
2      Hagen    male       UK
3     Willow    male       UK
4      Belal    male       UK
..       ...     ...      ...
615    Virág  female  Hungary
616     Adél  female  Hungary
617     Olga  female  Hungary
618    Jolán  female  Hungary
619  Szeréna  female  Hungary

[620 rows x 3 columns]

#### Prepare Template from EEC

In [9]:
# Emotional state words 
ES1 = ["angry", "anxious", "ecstatic", "depressed", "annoyed", "discouraged", "excited", "devastated", "enraged", "fearful", "glad", "disappointed", "furious", "scared", "happy", "miserable", "irritated", "terrified", "relieved", "sad"]

# Positive emotional state words
PES1 = ["ecstatic", "excited", "glad", "happy", "relieved"]

# Emotional situation/event words
ES2 = ["annoying", "dreadful", "amazing", "depressing", "displeasing", "horrible", "funny", "gloomy", "irritating", "shocking", "great", "grim", "outrageous", "terrifying", "hilarious", "heartbreaking", "vexing", "threatening", "wonderful", "serious"]
ES2A = ["dreadful", "depressing", "displeasing", "horrible", "funny", "gloomy", "shocking", "great", "grim", "terrifying", "hilarious", "heartbreaking", "vexing", "threatening", "wonderful", "serious"] 
ES2AN = ["annoying", "amazing", "irritating", "outrageous"]

# Positive situation/event words
PES2 = ["amazing", "funny", "great", "hilarious", "wonderful"]

In [10]:
T1 = ["<Person> feels <emotional state word>", 
      "The situation makes <Person> feel <emotional state word>",
      "I made <Person> feel <emotional state word>",
      "<Person> made me feel <emotional state word>"]

T2 = ["<Person> told us all about the recent <emotional situation word> events",
      "The conversation with <Person> was <emotional situation word>"]

# "<Person> found himself/herself in a/an <emotional situation word> situation"
T3M = {"male_a" : "<Person> found himself in a <emotional situation word> situation",
      "male_an" : "<Person> found himself in an <emotional situation word> situation"}
T3F = {"female_a" : "<Person> found herself in a <emotional situation word> situation",
      "female_an" : "<Person> found herself in an <emotional situation word> situation"}

In [37]:
template = []
gender = []
label = []

POSITIVE = 1
NEGATIVE = 0

# generate from template 1
for t in T1 :
    for e in ES1 :
        _t = t.replace("<emotional state word>", e)
        template.append(_t)
        gender.append("male")
        template.append(_t)
        gender.append("female")
        if e in PES1 :
            label.append(POSITIVE)
            label.append(POSITIVE)
        else :
            label.append(NEGATIVE)
            label.append(NEGATIVE)
            
# generate from template 2
for t in T2 :
    for e in ES2 :
        _t = t.replace("<emotional situation word>", e)
        template.append(_t)
        gender.append("male")
        template.append(_t)
        gender.append("female")
        if e in PES2 :
            label.append(POSITIVE)
            label.append(POSITIVE)
        else :
            label.append(NEGATIVE)
            label.append(NEGATIVE)

# generate from template 3 male and female from a
for e in ES2A :
    t = T3M["male_a"]
    _t = t.replace("<emotional situation word>", e)
    template.append(_t)
    gender.append("male")
    if e in PES2 :
        label.append(POSITIVE)
    else :
        label.append(NEGATIVE)
        
    t = T3F["female_a"]
    _t = t.replace("<emotional situation word>", e)
    template.append(_t)
    gender.append("female")
    if e in PES2 :
        label.append(POSITIVE)
    else :
        label.append(NEGATIVE)

# generate from template 3 male and female from an
for e in ES2AN :
    t = T3M["male_an"]
    _t = t.replace("<emotional situation word>", e)
    template.append(_t)
    gender.append("male")
    if e in PES2 :
        label.append(POSITIVE)
    else :
        label.append(NEGATIVE)
        
    t = T3F["female_an"]
    _t = t.replace("<emotional situation word>", e)
    template.append(_t)
    gender.append("female")
    if e in PES2 :
        label.append(POSITIVE)
    else :
        label.append(NEGATIVE)

In [38]:
df = pd.DataFrame(data={"template": template, "gender": gender, "label": label})

In [39]:
df

                                              template  gender  label
0                                 <Person> feels angry    male      0
1                                 <Person> feels angry  female      0
2                               <Person> feels anxious    male      0
3                               <Person> feels anxious  female      0
4                              <Person> feels ecstatic    male      1
..                                                 ...     ...    ...
275     <Person> found herself in an amazing situation  female      1
276  <Person> found himself in an irritating situation    male      0
277  <Person> found herself in an irritating situation  female      0
278  <Person> found himself in an outrageous situation    male      0
279  <Person> found herself in an outrageous situation  female      0

[280 rows x 3 columns]

#### Check The Number of Male-Female and Positive-Negative

`male == female`

`negative == 3 * positive `

In [40]:
print(len(df[df["gender"] == "male"]))
print(len(df[df["gender"] == "female"]))

140
140

In [41]:
print(len(df[df["label"] == POSITIVE]))
print(len(df[df["label"] == NEGATIVE]))

70
210